[2014-11-13 03:13] sckott opened #1 "Make test suite"

[2014-11-13 03:13] sckott opened #2 "Make vignette"

[2014-11-13 03:13] sckott opened #3 "Include more examples with data providers that use CKAN in examples"

[2014-11-14 14:18] rufuspollock opened #4 "Support for DataStore"
See http://docs.ckan.org/en/latest/maintaining/datastore.html

This would allow you to pull (and push) data from CKAN to R (dataframes)

[2014-12-17 20:05] sckott opened #5 "Many more fxns to be added"
see http://docs.ckan.org/en/latest/api/index.html#ckan-logic-action-get

[2014-12-19 15:10] sckott opened #6 "NHM don't require auth on read endpoints"
https://github.com/NaturalHistoryMuseum/ckanext-nhm/issues/178#issuecomment-67647799

[2015-01-02 23:04] imanuelcostigan opened #7 "Ability to change default base URL"
This could for example be implemented using a session option:
[code]
And then pass this output of this function to other ckanr functions such that ckanr function interfaces would be modified for e.g. as follows:

[code]

I'll submit a pull request.

[2015-01-02 23:19] sckott commented on #7
@imanuelcostigan that sounds reasonable, thanks

[2015-01-03 00:43] #7 closed

[2015-01-03 00:48] sckott opened #9 "Add CI"

[2015-01-03 00:57] #9 closed

[2015-01-16 11:29] Analect commented on #4
@sckott
Hope you don't mind me commenting here. I was playing around with your ds_create_dataset and wanted to make a few observations and ask some questions.

I ran this, which appeared to work.
ds_create_dataset(package_id='eurostat-r-test', name='testR', path='/home/user/Downloads/testR.csv', key='xxxx-xxxx', url="http://my_ckan_instance_ip_addr/", as="list")

Up to now, I've been mainly using

[2015-01-16 16:58] sckott commented on #4
@Analect  Thanks for your comments. To address the questions:

* You asked _Does your ds_create_dataset handle supplying pre-set field formats_ - What does _pre-set field formats_ mean? I'm not sure I understand
* No, there's no primary key arg yet, but I'll try to add that.
* Submitting a data.frame in addition to a file should be easy to add - I'll do that
* The `as=*` parameter is only for how

[2015-01-16 18:20] sckott commented on #4
hmmm, trying to work on adding function for http://docs.ckan.org/en/latest/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_create and http://docs.ckan.org/en/latest/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_upsert but the terminology is so confusing, and I need much more time to understand this - will come back later.

[2015-01-16 19:09] rgrp commented on #4
@sckott what's confusing there - would be super useful to have this support so if we can help clarify let me know. Basically this is about creating tables and then inserting data to them. If you want worked example in python we have several.

[2015-01-16 19:14] sckott commented on #4
@rgrp Thanks for offer to help.

Some examples would be great. It seems like there are multiple ways to use http://docs.ckan.org/en/latest/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_create and I don't quite understand the different use cases yet.

[2015-01-16 20:05] Analect commented on #4
@sckott
Ref the field types ... in my initial comment, I was illustrating how field types could be specified. I think the CKAN API makes a pretty good guess of type ahead of populating a table in postgres, but this is just so you can be explicit about a particular field type for data you are about to push to CKAN ... its an optional parameter, as you will see from the docs here:
http://docs.ckan.o

[2015-03-19 17:39] sckott commented on #4
@Analect Thanks very much for your help on this. Sorry it has been so long since I've worked on this. I will start hacking again on this soon...the python examples will surely help

[2015-04-06 03:53] wush978 opened #10 "organization related features"
Dear maintainers,

I am a co-funder of a start-up which provides tutorial services for data science. We choose the CKAN as a management system for the example datasets and we choose R to be our major toolset in our product. Thanks for your great work so that we can integrate our tutorial with CKAN more easily.

There are some use case of us that required API which `ckanr` does not implement. For e

[2015-04-06 05:32] sckott commented on #10
hi @wush978 - Glad to see other people interested in this!

That would be great if you are willing to contribute changes back here. Feel free to send pull requests to this repo when you're ready.

[2015-04-16 04:04] florianm opened #11 "Implement resource_update"
I have an R object, e.g. a data.frame (to become a CSV table), a ggplot2 object (to become a PDF figure), a text string (to become a TXT file), and a write-permitted CKAN API key for a CKAN instance.

I want to upload each object to replace an existing CKAN resource, with or without first writing the objects to files.

This should work both locally and when used e.g. inside an RShiny running on an

[2015-04-17 21:36] sckott opened #12 "shorten readme example outputs, too verbose"

[2015-04-17 21:37] sckott commented on #11
hi @florianm - thanks for your message. This definitely seems like something that should be in here.

I'll try to get this added very soon.

[2015-04-18 00:46] florianm commented on #11
@sckott would you mind if we submitted a pull request?

[2015-04-18 01:34] sckott commented on #11
@florianm oh yes, of course

[2015-04-20 06:22] wush978 opened #14 "API-Key"
Dear maintainers,

The ckan platform allow authentication and authorization with `API-Key` in http request.

I noticed that we could append the API-Key through `add_headers` with key `X-CKAN-API-Key` to authenticate with ckan server. The main problem to me is a secure way to let the user input their API-Key.

I propose two way to let the users input their API-Key.

The first way is let them set th

[2015-04-20 13:52] #10 closed

[2015-04-20 14:39] wush978 commented on #14
If you are willing to have this feature or want to check the code (sorry that my message might not be clear enough), I could create a PR for this.

[2015-04-20 14:56] sckott commented on #14
@wush978 We do already have authentication in some of the functions that require it. using `add_headers(Authorization = <key>)`, and have the key passed in as a parameter. E.g. see `ds_create_dataset()`.

Where are docs for CKAN for using `X-CKAN-API-Key`?

I do not want to use `svDialogs::dlgInput` because it sounds like that is a GUI.

Right now we have key passed in as a parameter. One thing we

[2015-04-20 15:56] wush978 commented on #14
Sorry that I did not notice it.

I agree with you that using `options` should be good enough. A possible improvement might be providing a helper function to let the user set the options more easily. And once they set the API-Key, maybe we could append the http option of api-key automatically to `ckan_POST` for not only `ds_create_dataset` but also `group_list` and all functions that requires authe

[2015-04-20 16:45] sckott commented on #14
good idea to allow setting via a helper function. Could change functions in  https://github.com/ropensci/ckanr/blob/master/R/base_url.R  to just be e.g., `ckanr_options()` or something like that, to set base url, api key, and anything else

Using `X-CKAN-API-Key` sounds good.

please do send a PR

[2015-04-20 22:26] Analect commented on #4
@sckott
I see you're getting a bit closer to supporting the datastore. Let me know if you need me to test anything.

[2015-04-20 23:22] sckott commented on #4
@Analect thanks! will do

[2015-04-25 02:37] wush978 commented on #14
Dear @sckott ,

The above commit change the behavior of the `ckan_POST`, but I have not completely tested all functions in ckanr. In fact, I want to help you finish #1 so that I can conveniently test whether 7eea607 harms any existed feature.

Do you have any idea about this?

[2015-04-25 14:39] sckott commented on #14
I agree to get the test suite filled out. And will make any more development easier  as we will know when things break.

I think we can test against the demo server (at http://demo.ckan.org), right?

I'll start the tests, and a list in that issue, and we can tick them off as they are completed. You can put your name by ones you are working on.

[2015-04-25 14:40] sckott commented on #1
- [ ] `changes`
- [ ] `ds_create`
- [ ] `ds_create_dataset`
- [ ] `ds_search`
- [ ] `ds_search_sql`
- [ ] `get_ckanr_url`
- [ ] `group_list`
- [ ] `group_show`
- [ ] `license_list`
- [ ] `organization_list`
- [ ] `organization_show`
- [ ] `package_activity_list`
- [ ] `package_list`
- [ ] `package_list_current`
- [ ] `package_revision_list`
- [ ] `package_search`
- [ ] `package_show`
- [ ] `ping`

[2015-04-25 15:04] sckott commented on #1
started testing 7d279d2d1461589ff1af67aeaec7748a575d7c10

[2015-04-28 12:06] wush978 opened #19 "err_handler produces error"
Dear @sckott ,

The `err_handler` in https://github.com/ropensci/ckanr/commit/7d279d2d1461589ff1af67aeaec7748a575d7c10#diff-e549505eb95036528ca3b125f62915a6R29 produces `Error in content(x)$error :
  object of type 'externalptr' is not subsettable` when I want to access a local ckan server here.

The reason is that the returned 404 http response contains a webpage which is parsed as `HTMLInternalD

[2015-04-28 12:07] wush978 commented on #19
I modify the `err_handler` in https://github.com/wush978/ckanr/commit/a46ed76659242b8cefe9fc5067f348c48607287a . If you like it, I could give you a PR.

[2015-04-28 13:58] sckott commented on #19
I figured that might not work in all cases. Yes, plz do send the PR

[2015-04-28 14:42] wush978 opened #23 "Different behavior of travis-ci"
Dear @sckott ,

I notice that the result of travis-ci of wush978/ckanr is different from travis-ci of ropensci/ckanr. Mine always stops at the beginning due to: "sudo: must be setuid root". Could you tell me whether you did any additional configuration in travis-ci?

Thanks,
Wush

[2015-04-28 15:54] sckott commented on #23
Many R pkgs are failing now b/c of that. It's something about container usage that I don't fully understand. It doesn't hurt to add I think, so I'll add that to the travis file, and should fix yours

[2015-04-28 15:56] #23 closed

[2015-05-01 14:18] wush978 commented on #23
Thank you very much! It works.

[2015-05-01 18:19] #19 closed

[2015-05-07 15:15] sckott commented on #4
@Analect @rgrp If you have time, there are a few datastore functions now (`ds_search`, `ds_search_ssq`, `ds_create_dataset`), and would be great if you could test and report back with any bugs/feature requests

[2015-05-07 15:20] sckott commented on #12
this is done

[2015-05-07 15:20] #12 closed

[2015-05-07 15:47] sckott commented on #6
added an example in one fxn, nothing to be done here for now

[2015-05-07 15:47] #6 closed

[2015-05-09 16:54] Analect commented on #4
@sckott
Thanks for your work on this. I played around a bit and here are my thoughts, for what they're worth. These are based on my particular use-case for the datastore, where my preference is to interact directly with the datastore, rather than upload a file to the filestore and have datapusher manage pushing the data from that file (which needs to be of type csv or xls). My experience is that d

[2015-05-11 07:11] wush978 opened #25 "default parameter of resource_search"
Dear @sckott ,

The default value of parameter `q` of `resource_search` does not make sense. First, `q` must be given because there is no default value given in the definition of `resource_search`. Second, `*:*` does not work with `resource_search`.

The `q="name:data"` works so I will use it for testing.

[2015-05-11 07:19] wush978 opened #26 "user_list does not work"
Dear @sckott ,

The `user_list` does not work properly with default value:

[code]

I guess the reason is that both `q` and `order_by` are `NULL`.

[2015-05-11 07:37] wush978 commented on #1
Dear @sckott ,

Currently, I don't know how to test `user_list`(please see #26 ), `ds_create` and `ds_create_dataset`. For `ds_create`, I tried to run the example script but got: 409 Conflict. For `ds_create_dataset`, I got 403 Forbidden.

Except these 3 functions, all tests are done( #27 ). However, I only check the returned type. At least these tests make sure that these function get 200 from CK

[2015-05-11 17:18] #26 closed

[2015-05-11 17:18] sckott commented on #26
@wush978 should work now, try it out

[2015-05-11 17:27] sckott commented on #25
it seems they don't set a default either http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.get.resource_search I guess i had `*:*` as a default carrying over from another pkg i work on.

I removed that line about `*:*` from the parameter definition - the `q` parameter doesn't currently have a default, so if called `resource_search()` it just errors saying `q` is missing.  For testing

[2015-05-11 17:29] sckott commented on #25
@wush978  okay to close?

[2015-05-11 17:32] wush978 commented on #25
Yes, thanks!

[2015-05-11 17:32] #25 closed

[2015-05-11 18:14] wush978 commented on #26
Yes, thanks! https://github.com/wush978/ckanr/commit/d823b0e6782d783fdc5b9c719d826791a855ad92 in #28 implements the test for `user_list`.

[2015-05-11 19:41] sckott commented on #1
now we just have `ds_create` and `ds_create_dataset` remaining

[2015-05-11 21:15] sckott commented on #1
I still can't get `ds_create()` to work, I haven't yet figured out what format they want the data in, seems like it's simple json, but nothing working yet

[2015-05-11 21:16] sckott commented on #11
@florianm hi, it's been a while, should I do this?

[2015-05-11 21:53] sckott commented on #4
thanks @Analect - I'll get to this soon :watch:

[2015-05-12 01:33] florianm commented on #11
@sckott sorry we got delayed with sick leave, should know by today, stay tuned!

[2015-05-12 01:41] sckott commented on #11
@florianm okay, thx

[2015-05-13 05:23] florianm opened #30 "Set CKAN url, key, dataset and resource id for testing"
Is there a clever way to set a CKAN url, key, dataset and resource id for testing of the create/update/delete functions once (they will vary between developers/testers) and use them in tests?

[2015-05-13 05:30] sckott commented on #30
does #31 address this?

[2015-05-13 05:59] florianm commented on #30
added cross-link!

[2015-05-14 02:19] florianm commented on #30
There's still some gremlins, namely a typo in `set_test_env()` and testthat doesn't seem to read `get_test_{url, key, did, rid}()` - working on it now, will submit another PR once I've got it to work.

[2015-05-15 01:25] florianm commented on #11
Implemented by #31 (function) and #32 (tests) - thanks for the merge @sckott !

[2015-05-15 01:25] #11 closed

[2015-05-15 01:46] sckott commented on #11
thank you

[2015-05-18 08:21] florianm commented on #30
#32 fixes this issue using Sys.env.

[2015-05-18 08:21] #30 closed

[2015-05-19 00:27] sckott opened #33 "What values using for testing?"
@florianm what values were you using for testing?  for the url, did, and rid?  I can get a key or use one i have (i'll figure that out)  - I need to set these env vars on Travis as well.

[2015-05-19 01:38] sckott commented on #4
@Analect

* My email is scott@ropensci.org - can you contact me about setting up a ckan instance on aws?  that way I should be able to debug these big data issues easier.
* still working on getting `ds_create()` fixed, i'll have a another look at the python code you shared, and your comments above

On your numbered list:

1. Right, i hadn't yet figured out how to just use a `package_id` and have t

[2015-05-19 04:04] florianm commented on #33
Just sent you a gmail!

[2015-05-19 15:05] sckott commented on #33
thanks

[2015-05-19 15:05] #33 closed

[2015-05-19 18:33] sckott commented on #1
only `ds_create` test remaining, closing as basically done

[2015-05-19 18:33] #1 closed

[2015-05-20 02:50] florianm opened #34 "`resource_show` and `package_show` parameters different to CKAN API 2.4a's"
Both [`resource_show` CKAN 2.4a API guide](http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.get.resource_show) and [`package_show`](http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.get.package_show) will take parameters:

* id (resource ID),
* include_tracking = FALSE,
* `package_show` only:  `use_default_schema` (bool) – use default package schema instead of a custom

[2015-05-20 03:12] florianm opened #36 "Which CKAN API version does ckanR implement?"
Apologies for this silly question - are we writing against 2.4a, latest (and keep upgrading), last stable? I'm testing locally on my own branch based on CKAN latest (2.4a) with a few custom plugins (possible problem: custom data schema using ckanext-scheming), and Travic CI is configured to use my public-facing instance `http://data-demo-dpaw.wa.gov.au/` (at least for writing tests).

Also, how do

[2015-05-20 04:17] florianm commented on #14
@wush978 @sckott `ckan_POST` still needs to make use of its `key` parameter (currently it uses `api_key()`). FYI I've worked on using the API key in #35 and #31, but `options` didn't work for the

[2015-05-20 04:19] sckott commented on #14
@florianm looks like you didn't finish a sentence?

[2015-05-20 04:22] florianm commented on #14
@wush978 @sckott `ckan_POST` still needs to make use of its `key` parameter (currently it uses `api_key()`). FYI I've worked on the API key in #35 and #31, but I had to use `Sys.env` to store API key (see `set_test_env()`), as testthat can't access `options` from its sandboxed test environment. Edit: bless you, Chrome-stable, for freezing my machine mid-comment.

[2015-05-20 04:22] sckott commented on #34
* The api key is not required - defaults to NULL - I put in those args so that a key can be passed in as another option
* Sorry, forgot to add key param definitions

[2015-05-20 04:26] sckott commented on #34
oh, I see. you mean those functions don't need a key, makes sense

[2015-05-20 04:27] florianm commented on #34
Happy to put the key back in in #35 if you want. Key param defs also submitted in #35

[2015-05-20 04:29] sckott commented on #34
No, it sounds like you are right to take the key params out of those two functions

[2015-05-20 04:30] sckott commented on #14
@florianm note that I switched us to use all env variables now, so no more options

[2015-05-20 04:32] sckott commented on #36
labeled as question, i think only repo owners can assign labels

[2015-05-20 04:34] florianm commented on #14
I see, looks much cleaner now, ta!

[2015-05-20 04:56] #34 closed

[2015-05-20 05:01] sckott commented on #36
The latest version, yes.  I can make that clear in the docs, If there's anything not in sync with latest, let's fix that

[2015-05-20 05:22] florianm commented on #36
Understood, thanks! The `\references{}` links to the latest API anyways (another thing to keep updated).

[2015-05-21 04:31] florianm commented on #3
FYI the [shiny-timeseries-explorer](https://yes-we-ckan.shinyapps.io/shiny-timeseries/) uses ckanr to talk to CKAN. Its "upload to CKAN" functionality is the reason I'm contributing to ckanr :-)

Feel free to take it for a whirl (your data-demo.dpaw.wa.gov.au API key will work in that app).

[2015-05-21 17:50] sckott commented on #3
great, thanks @florianm

[2015-05-27 16:31] sckott commented on #14
I think this is handled now

[2015-05-27 16:31] #14 closed

[2015-06-12 16:49] sckott opened #38 "A test server seems to be down"
@florianm Seems that http://data-demo.dpaw.wa.gov.au//organization/sandbox is down, giving a 500 response, thoughts?

[2015-06-13 01:19] florianm commented on #38
I did upgrade the Ckan instance, will double check that data-demo is
functional.
On 13/06/2015 12:49 am, "Scott Chamberlain" <notifications@github.com>
wrote:

[2015-06-14 00:31] sckott commented on #38
thanks, that's okay

[2015-06-15 08:33] florianm commented on #38
No luck yet, still diagnosing the problem, will probably take me another day or so! There's something weird going on in my CKAN.

[2015-06-16 03:51] florianm commented on #38
Patched the CKAN test server (data-demo.dpaw.wa.gov.au) and tests are passing again.

[2015-06-16 03:52] florianm opened #39 "README needs to be updated to use ckanr_setup, not setup_ckanr"
PR incoming in 5

[2015-06-16 14:16] sckott commented on #38
seems fixed now, txh

[2015-06-16 14:16] #38 closed

[2015-06-16 14:18] sckott commented on #39
fixed in #40

[2015-06-16 14:18] #39 closed

[2015-06-24 07:15] florianm opened #41 "tag_show tests fail after CKAN API change"
The CKAN's `tag_show` as of early June 2015 [defaults](http://docs.ckan.org/en/latest/api/#ckan.logic.action.get.tag_show) to omit datasets from the result. `ckanr`'s tests assume `include_datasets=TRUE`.

Suggestion: include explicit parameter `include_datasets=FALSE` in `tag_show.R` and adjust tests to use `include_datasets=TRUE`.

[2015-06-24 14:15] sckott commented on #41
closed via #42

[2015-06-24 14:15] #41 closed

[2015-07-20 10:35] florianm opened #43 "package_update"
[CKAN API docs](http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.update.package_update)

Recommends modifying the dict returned from package_show, then posting that dict back. Any takers?

[2015-07-20 20:31] sckott commented on #43
thanks @florianm - I'll try to get to it soon, if someone else doesn't do it first...

[2015-07-30 04:00] sckott opened #44 "Download files"
Files can be lots of things (e.g., csv, xml, jpg, etc.) so this needs to cover various cases

Looks as though there's no proper way in CKAN API to download a file, just have to `GET()` it i guess

[2015-07-30 16:06] #44 closed

[2015-07-30 16:07] sckott commented on #44
@Eflores89 okay, reinstall from github, and see the `fetch()` function - you may still want to handle file downloads yourself, but this fxn attempts to read in, with a few formats so far (csv, xls, xml, html, json, shp)

[2015-07-30 16:13] Eflores89 commented on #44
sounds great! I can't test now, but will in a few hours!! cheers!

[2015-07-30 16:17] sckott commented on #44
:+1:

[2015-08-06 10:09] jobonaf opened #45 "resource description"
Is there a way to define resource description with `ds_create_dataset`? Thank you

[2015-08-06 19:17] sckott commented on #45
@jobonaf Can you share a link of what you are referring to? Perhaps in the ckan docs?

[2015-08-07 08:23] jobonaf commented on #45
http://docs.ckan.org/en/ckan-1.7.2/domain-model-resource.html#standard

[2015-08-07 11:47] florianm commented on #45
@jobonaf just double checking, are you running version 1.7.2? ckanr is written against the current API (2.4 onwards), I'm not sure how much has changed since 1.7.2.

[2015-08-07 21:56] sckott commented on #45
That's right, we're developing against the most current version of CKAN

@florianm that sounds right, though I haven't tried it yet.

[2015-08-08 14:02] jobonaf commented on #45
something like this?
[code]
or like this?
[code]
anyway, neither the first nor the second way work... probably I'm missing something, I'm not much familiar with httr/RCurl/curl+ckan. Just hoping there was an easy way through ckanr, but probably not yet. Thank you!

[2015-08-08 14:33] sckott commented on #45
@jobonaf i'll reopen for a bit until I have time to look into this myself

[2015-08-08 23:41] florianm commented on #45
@jobonaf that's interesting - that would have been the CKAN API way of updating data on CKAN - get the dict, update some values, post the dict back. Done so from Python with no troubles on datasets and file attachments. Actually I need your use case implemented as well, so as soon as I've got some play time I'll work on it, unless @sckott is quicker.

[2015-08-17 17:54] sckott opened #46 "Add resource_create"
@florianm

Do you know if this
http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.create.resource_create

is all the docs there are on `resource_create` API endpoint?  The parameters don't have any explanation as to what they are or what they expect as inputs.

[2015-08-17 18:34] sckott opened #47 "Add dashboard fxns"

[2015-08-17 19:00] #47 closed

[2015-08-18 01:21] florianm commented on #46
@sckott the best I could find is the docstring in the [resource_create source](https://github.com/ckan/ckan/blob/master/ckan/logic/action/create.py#L234).

Note that CKAN also tries to create appropriate resource views (also in create.py) but I haven't stepped through the details of that workflow and hope it automatically runs on `resource_create`.

Is that any good to you?

[2015-08-21 19:11] #36 closed

[2015-08-21 20:20] #43 closed

[2015-08-21 20:21] sckott commented on #46
@florianm  thanks  - no descriptions in there, but i'll keep looking

[2015-08-26 13:00] wush978 opened #48 "dplyr interface of `ds_search_sql`"
Dear @sckott ,

I think it is possible to implement a subset of dplyr interface for ckanr. I guess we need to use the engine in dplyr to generate the SQL statement and submit the statement to ckan server via `ds_search_sql`. Does this feature fit this package?

[2015-08-26 14:26] sckott commented on #48
Possibly.  Since we don't use `dplyr` already, I think it would best in Suggests, so that users that don't need it don't have to install it since it is a big dependency.

I don't yet see how it would work. Can you give an example?  with pseudocode

[2015-08-26 14:28] wush978 commented on #48
Sure.
Moreover, I'll directly implement a prototype. Any progress will be updated here.

[2015-08-26 14:33] sckott commented on #48
thanks

[2015-08-28 15:59] wush978 commented on #48
Oops, I guess I need to push after finishing the prototype. Sorry!

[2015-08-30 14:59] wush978 commented on #48
Dear @sckott ,

https://github.com/ropensci/ckanr/compare/master...wush978:dev/dplyr shows my idea of implementing interface of dplyr. There are two files: `dbi.R` implements the DBI interface and `dplyr.R` implements the dplyr's sql interface according to the DBI interface.

This is not a complete implementation, so only the following script works.

[code]

If you think this approach is OK, then

[2015-09-08 18:50] sckott commented on #48
@wush978 Sorry, just got back from vacation. Looks good.

What is the rest of the interface?

[2015-09-09 04:11] wush978 commented on #48
@sckott

 I only implement a minimal example to demonstrate my idea of using DBI to link `ds_search_sql` to `dplyr`. Currently, all the following basic verbs in dplyr do not work.

- `select`
- `filter`
- `mutate`
- `arrange`
- `group_by`
- `summarise`

And some verbs of joining...

[2015-09-09 05:45] sckott commented on #48
@wush978 what I'm wondering about is if you have to write versions of `select`, `filter`, etc. verbs in this pkg, or if we can just use dplyr itself?

[2015-09-09 13:41] wush978 commented on #48
We use these verbs directly, but we need to guide dplyr how to use the `ds_search_sql` to submit the SQL statement. That is to say, we do not need to implement these verbs. We override some internal behavior inside dplyr according to <https://cran.r-project.org/web/packages/dplyr/vignettes/new-sql-backend.html>.

[2015-09-09 16:09] sckott commented on #48
Okay, sounds great!

[2015-09-09 19:31] dioh opened #49 "As I package_list my URL is not recognized"
My ckan repository is localhost/api/action but when I read the request, package_list is posting to localhost/api/3/action/package_list

Any thoughts?

[2015-09-09 19:33] sckott commented on #49
@dioh what version of CKAN are you using locally?

[2015-09-09 19:37] dioh commented on #49
I want the server to automatically give me the latest version as it is
specified in ckan

API versions
<http://docs.ckan.org/en/ckan-2.2/api.html#api-versions>

The CKAN APIs are versioned. If you make a request to an API URL without a
version number, CKAN will choose the latest version of the API:

 "En economía no hay nada misterioso ni inaccesible al entendimiento del
hombre de la calle. Si hay

[2015-09-09 19:39] sckott commented on #49
@dioh Does that mean 2.2?

[2015-09-09 19:39] sckott commented on #49
and what version of `ckanr`?

[2015-09-10 13:19] dioh commented on #49
Yes, I think it's 2.3

How could I use the URL I mentioned with package_list?

 "En economía no hay nada misterioso ni inaccesible al entendimiento del
hombre de la calle. Si hay un misterio, reside él en el oculto propósito
que puede perseguir el economista y que no es otro que la disimulación del
interés concreto a que se sirve."

A. Jauretche

On Wed, Sep 9, 2015 at 9:39 PM, Scott Chamberlain <

[2015-09-10 19:47] sckott commented on #49
looking at this

[2015-09-10 21:01] sckott commented on #49
installing locally to look at it in more detail

How did you install your local CKAN ?

[2015-09-10 21:39] dioh commented on #49
Sorry, its not local, it was just an example. Im using this dataset

https://data.hdx.rwlabs.org
On Sep 10, 2015 23:01, "Scott Chamberlain" <notifications@github.com> wrote:

[2015-09-10 22:34] sckott commented on #49
@dioh This works fine for me

[code]

Try that

[2015-09-11 04:18] dioh commented on #49
Hi Scott, this works:

package_list(url="https://data.hdx.rwlabs.org/")

This doesn't

package_list(url="http://data.hdx.rwlabs.org")

Sorry for the confusion.

Thanks for your support!

 "En economía no hay nada misterioso ni inaccesible al entendimiento del
hombre de la calle. Si hay un misterio, reside él en el oculto propósito
que puede perseguir el economista y que no es otro que la disimulac

[2015-09-11 04:30] sckott commented on #49
Great

[2015-09-11 04:30] #49 closed

[2015-09-13 17:04] sckott opened #50 "If need to setup older versions of CKAN locally/on server"
https://github.com/ckan/ckan-docker/issues/23

[2015-09-25 08:40] Analect commented on #4
@sckott
Don't suppose datastore support is on the horizon for ckanr?
If I can be of futher help, please shout.

Thanks.

[2015-09-29 21:39] sckott commented on #4
@Analect  It is in the works. See any functions starting with `ds_` in the pkg https://github.com/ropensci/ckanr/tree/master/R

I'll also start a label to put on issues that have to do with datastore items

[2015-09-29 21:57] sckott commented on #4
This pkg is a big project, and lots of other pkgs to work on. And lots of travel this summer :)

[2015-10-07 19:31] sckott opened #51 "S3 classes for packages, resources, any other objects"
Before we send 1st version to CRAN, perhaps it makes sense to think about whether it makes sense to create lite-weight  S3 classes to wrap up the data given back representing packages and resources. And any other common objects that CKAN API returns.

e.g., a S3 class for packages could look like this when printed:

[code]

Those things printed could be easily modified based on consensus opinion h

[2015-10-08 22:23] sckott opened #52 "demo CKAN server 500 status"
http://data-demo.dpaw.wa.gov.au/

<img width="1006" alt="screen shot 2015-10-08 at 3 22 47 pm" src="https://cloud.githubusercontent.com/assets/577668/10381533/736361f2-6dd0-11e5-831b-76c4a1e23480.png">

@florianm

[2015-10-08 22:27] #46 closed

[2015-10-08 22:28] sckott commented on #45
@jobonaf you can do this now with `resource_patch()`, reinstall newest version first `devtools::install_github("ropensci/ckanr")`

[2015-10-08 22:28] #45 closed

[2015-10-08 22:30] florianm commented on #52
@sckott and it's back! This happens when solR runs out of RAM. We're punishing the server at the moment with some heavy internal use.
Currently building a more robust CKAN for data.wa.gov.au, will replace data-demo with another test instance within the next month.

[2015-10-08 22:32] sckott commented on #52
great, thanks!

[2015-10-08 22:32] #52 closed

[2015-10-09 00:53] sckott commented on #51
@florianm @wush978 @imanuelcostigan Would love your feedback on this.

I've pushed a few changes to master regarding this issue. I've stared with CKAN packages just to see how we like it. Here's some examples of how they work:

`package_search()` example

[code]

Can use `as.ckan_package()`  to coerce various things to a `ckan_package` class

[code]

Most of the `package_*()` functions both take i

[2015-10-09 06:08] florianm commented on #51
@sckott geez that looks really nice. As in, cleaner than using Python to migrate packages or harvest crazy custom [things](http://catalogue.alpha.data.wa.gov.au/dataset/slip-harvesting/resource/172150c7-b0c5-4f7c-bf1b-44514eb8e5d7) into CKAN.

As I'm wrapping ckanR inside my reports, my end users will be fine with your improvements, if not happier. As long as there's working examples in the docs,

[2015-10-09 15:13] sckott commented on #51
@florianm  Glad you like it. Unless there's any objections from others, I'll continue with these changes where they make sense.

[2015-10-09 23:24] sckott opened #53 "Use cases"
The Open Canada CKAN instance has an e.g., where they have links to a CSV, but it's actually a link to a http file server with directories with directories within those, that eventually have actual csv files.

http://open.canada.ca/data/en/dataset/9ec91c92-22f8-4520-8b2c-0f1cce663e18

3 of the links there are actually csv's, the first is not - this one http://ec.gc.ca/data_donnees/data/water/quali

[2015-10-10 00:04] sckott opened #54 "Some functions need tweaks to fix POST requests"
given my recent change to internal REST helper fxns, need to fix some fxns , e.,g. `package_search`, `package_list`, `package_show`

[2015-10-10 00:09] sckott commented on #54
done in cb6b29f

[2015-10-10 00:09] #54 closed

[2015-10-10 02:02] florianm commented on #53
The [package_show](http://open.canada.ca/data/en/api/3/action/package_show?id=9ec91c92-22f8-4520-8b2c-0f1cce663e18) advertises the resource type as "file", although the [dataset](http://open.canada.ca/data/en/dataset/9ec91c92-22f8-4520-8b2c-0f1cce663e18) advertises the format as "CSV".

open.canada.ca is a highly customised CMS + CKAN. The CKAN side is pretty much spearheading bilingual support, a

[2015-10-10 02:16] sckott commented on #53
Right, that is a pretty advanced use case.

Yeah, that'd be great

Nice!

[2015-10-10 02:48] florianm commented on #53
Ok, use cases:

Overview and link to video on CKAN blog showing R scripts, notebooks, and ckan o' sweave in action:
http://catalogue.alpha.data.wa.gov.au/dataset/data-wa-gov-au

Example CSV & R code using ckanR & product generated and uploaded by R code:
http://catalogue.alpha.data.wa.gov.au/dataset/example-dataset

[2015-10-10 05:58] wush978 commented on #51
Great work! I like this feature.

[2015-10-11 15:58] sckott opened #55 "resource_view"
I played around with these, but can't seem to find enough documentation to correctly use them. Anyone?  I found https://github.com/ckan/ckan/wiki/Resource-Views but at least one missing piece is that they don't  explain the possible values to pass to `view_type`

[2015-10-12 15:31] sckott commented on #5
Added a lot, closing for now, fill out more after v0.1 2 cran

[2015-10-12 15:31] #5 closed

[2015-10-12 15:37] sckott opened #56 "Any package API changes?"
@florianm @wush978 @imanuelcostigan

I would like to get the first version on CRAN soon so we can get it in front of more eyes, to get more use cases, feedback on the pkg.  Do you notice anything that should be changed in the package API before we do this?  Ideally I'd rather not change anything major after getting on CRAN so as not to break people's code.

[2015-10-12 15:56] wush978 commented on #56
@sckott

I want to test the package again and review the API this week. Could I give you the feedback before 10/18?

[2015-10-12 16:27] sckott commented on #56
Sounds good

[2015-10-16 00:49] sckott commented on #53
thanks for these

[2015-10-17 04:28] wush978 commented on #56
I checked these changes with a CKAN test server. Overall, I like these new features.

According to what I observed, the information provided by S3 requires more queries to the server. It might introduce some bugs because I just see one. I guess we need to review the testing scripts and everything will be ok.

[2015-10-17 04:37] wush978 opened #57 "The url is changed during testing"
In `as.ckan_group`, the url will be changed during testing.

I am testing the new API and I set a `test_url` in `ckanr_setup`. However, after calling `group_list`, the new S3 api requires some information from `group_show` without passing the url to `group_show`. Therefore, `group_show` uses the `get_default_url`.

[2015-10-17 10:30] wush978 opened #59 "Error: 409 in `resource_update`"
When testing the `resource_update`, there is a 409 issue which indicates that the required parameter `url` is not set.

Reference:
- <http://docs.ckan.org/en/847-new-theming-docs/api.html#ckan.logic.action.update.resource_update>
- <http://docs.ckan.org/en/847-new-theming-docs/api.html#ckan.logic.action.create.resource_create>

[2015-10-19 17:21] #57 closed

[2015-10-19 17:23] #59 closed

[2015-10-20 03:33] florianm commented on #56
I'm just testing the latest master. Observations:

* default ckan url in ckanr_setup.R has trailing slash
* if I run ckanr_setup(url=xxx), there must be absolutely no trailing slash - I remember spending too much time figuring out that the trailing slash broke things. Maybe handle trailing slashes more leniently?
* make check: readxl package suggested but not available. Installed, check passes.
*

[2015-10-20 15:59] sckott commented on #56
will fix, yes, needs to be smarter for sure

Where do you see this? Running the `fetch` examples?

:smiley:

:smile_cat:

[2015-10-21 01:58] sckott commented on #4
Sorry all, but this isn't quite feature complete yet, but I want to push a first version to CRAN to start getting this more widely distributed, get more users, more feedback, etc. Hope to get this more sorted out soon, moving to next milestone

[2015-10-21 02:02] sckott commented on #56
I think this error is sufficient (reprod. example):

[code]

[2015-10-21 02:27] florianm commented on #56
Morning everyone. Unfortunately I didn't keep the check log from the readxl error. I believe it was during the "check package dpendencies" step, but in any case I had to install readxl (and rid my ckan url of the trailing slash) to get check to pass.

[2015-10-21 02:29] sckott commented on #56
@florianm i think the trailing slash thing shuld be fixed here https://github.com/ropensci/ckanr/commit/b7545b9d9879fde5b1fbb7a5f05b2fc4425be621#diff-e549505eb95036528ca3b125f62915a6R20

[2015-10-21 02:31] florianm commented on #56
@sckott looks good to me! That's a major source of user confusion on my end, definitely good to allow both trailing and naked end.

[2015-10-21 04:44] #56 closed

[2015-10-21 04:44] sckott commented on #51
seems good for now, open new issues as needed

[2015-10-21 04:44] #51 closed

[2015-10-21 05:23] #2 closed

[2015-10-30 20:59] sckott opened #62 "Some tests broken"
fixed as much as could, waiting on some info from Florian

[2015-10-30 22:21] sckott opened #63 "Test against other CKAN versions"
Testing now against I thin latest CKAN version

Test also against at least two other versions. Could simply have additional test files in test suite for other CKAN versions at different installations, or perhaps some other setup

[2015-10-30 22:22] sckott commented on #63
related to #50

[2015-11-26 00:05] sckott commented on #62
switched to using http://catalogue.alpha.data.wa.gov.au now

tests should be fixed now

[2015-11-26 00:35] sckott commented on #62
fixed

[2015-11-26 00:35] #62 closed

[2015-12-08 09:35] florianm commented on #55
resource_view [api docs](http://docs.ckan.org/en/latest/api/index.html?highlight=resource%20view#ckan.logic.action.create.resource_view_create)

`view_type` can be any of the available [resource previews](http://docs.ckan.org/en/latest/maintaining/data-viewer.html#available-view-plugins) such as `text_view`, `image_view`, `recline_view`, `pdf_view`, `webpage_view`, `geojson_view`, `geo_view` plus

[2015-12-08 10:31] sckott commented on #55
@florianm thanks !

[2015-12-09 04:58] florianm opened #64 "resource_update requires more formats"
Currently getting an internal server error on `resource_update` for non-CSV formats. Other formats are needed [here](https://github.com/ropensci/ckanr/blob/master/R/resource_update.R#L87).

[2015-12-10 08:35] sckott opened #66 "Add tests for all configured file types"
for `resource_update()`

[2015-12-10 08:46] sckott commented on #66
If eg files are only used for tests, then we can include files in the tests/ dir

[2016-02-06 01:45] #64 closed

[2016-02-06 01:46] sckott commented on #48
Any progress on this @wush978

[2016-02-06 10:42] wush978 commented on #48
Thanks for reminding me. I did forget this issue.

I'll try to do some progress during Chinese New Year.

[2016-02-07 05:25] sckott commented on #48
thanks!

[2016-02-13 10:31] wush978 commented on #48
Hi @sckott ,

Today I added some unit tests (https://github.com/ropensci/ckanr/commit/12cb680f95217a325a2a88d6a4f3de609a4ae838b). The basic verbs: `filter`, `arrange`, `select` are workable now. The `distinct` is failed and I need to check if it is workable with PostgreSQL which is the backend of the CKAN server.

By the way, the non-ascii column name will make the server return http 500, so I onl

[2016-02-13 17:14] sckott commented on #48
hmm, that commit links gives a 404, where should that point to?

on `DBI` - perhaps. Definitely worth trying, haven't thought about yet if it's not worth it, but I'm guessing it will be fine

[2016-02-14 17:01] wush978 commented on #48
Oops, the link should be: https://github.com/wush978/ckanr/commit/12cb680f95217a325a2a88d64f3de609a4ae838b

[2016-02-18 19:58] sckott commented on #48
@wush978 I had a look, looks very nice. what is the CKAN instance you used for testing?

[2016-02-20 03:59] wush978 commented on #48
I am using http://demo.ckan.org to test

[2016-02-20 05:39] sckott commented on #48
thanks

[2016-02-24 20:48] sckott commented on #48
@wush978 what versions of `dplyr`/`DBI` do you have?  I'm getting errors trying to run your tests with your branch

[2016-02-24 20:50] sckott commented on #48
e.g,.

[code]

[2016-02-27 03:46] wush978 commented on #48
@sckott

Here it is:

[code]

[2016-02-27 16:06] wush978 commented on #48
@sckott ,

The unit tests for basic verbs are updated and I also tried `left_join`.

Hope they work in your computer.

[2016-02-29 20:22] sckott commented on #48
Okay, looks good. I had a dev version of `DBI` ahead of what you had, works good. now
I do get an error on https://github.com/wush978/ckanr/blob/dev/dplyr/tests/testthat/test-dplyr.R#L94 but if I changed to the 2nd element `name_list[2]` it worked, but aren't data always changing on demo.ckan.org?

Do you think the implementation is nearly complete  now?

[2016-03-01 02:23] wush978 commented on #48
Yes, it is nearly complete.

We just need a stable testing environment. Could you give me any suggestion?

And maybe we need a short example to demonstrate this feature. Do you have any idea of where to put the examples?

[2016-03-01 15:17] sckott commented on #48
There's many CKAN instances. Not sure which is best, but I imagine there's many that have good up time, and don't have transient datasets in them. See `servers()`. Perhaps try https://data.noaa.gov/dataset

You could create a man file with an appropriate name and include examples in that. e..g., like

[code]

[2016-03-01 15:21] wush978 commented on #48
Thanks.

I'll implement them on the weekend and send a PR.

[2016-03-01 16:19] fidelthomet opened #67 "Use of POST-Requests instead of GET"
Some functions (e.g. package_list & package_search) use POST-Requests (`ckan_POST`) all-tough they would only need `ckan_GET` (which doesn't seem to be used at all in ckanr).

This isn't a problem for most CKAN-instances. However, [Zurich's Open Data Portal](https://data.stadt-zuerich.ch/) blocks all POST request from out of the cities internal network. Using only POST-Request makes it therefore i

[2016-03-01 20:09] sckott commented on #67
I've asked around about this, will get back to you soon

[2016-03-02 08:28] fidelthomet commented on #67
Thanks

[2016-03-03 19:00] sckott opened #68 "Add USDA CKAN instance to servers()"
https://data.nal.usda.gov/api/3

[2016-03-05 15:42] sckott opened #69 "Fix ds_search"
- examples are giving NULL back
- convert to `GET` instead of `POST` probably

[2016-03-05 16:15] #67 closed

[2016-03-05 16:16] sckott commented on #67
@fidelthomet try it again now after reinstalling from there, `devtools::install_github("ropensci/ckanr")` - changed all possible fxns to use GET I think. Here's the ones that still use `POST`

* `ds_create_dataset()`
* `group_create()`
* `group_delete()`
* `group_patch()`
* `group_update()`
* `organization_create()`
* `package_create()`
* `package_delete()`
* `package_patch()`
* `package_update()`

[2016-03-07 03:00] wush978 commented on #48
@sckott ,

Sorry that I cannot find time to write some code on the last weekend. Do you have any schedule of this issue?

[2016-03-07 03:43] sckott commented on #48
No rush on this. And thanks for all your work on it

[2016-03-10 08:42] fidelthomet commented on #67
Thanks, works great!

[2016-03-13 17:52] wush978 commented on #48
You're welcome. I'm glad to have a chance to contribute.

[2016-03-17 19:50] sckott opened #72 "Make pkg backwards compatible or fail well with older CKAN instance versions"
via https://discuss.ropensci.org/t/new-package-ckanr/251/5

[2016-03-17 23:11] sckott commented on #72
* adding new function `ckan_version()` to get the version for the server, then we can act accordingly
* may need to have an internal pkg environment to cache server version though b/c would suck to have to make the http request to get server version before every function call a user makes - then we can just look up the server version if it's already been called that session

[2016-03-18 01:37] sckott commented on #72
things to catch:

* `v2.5.1` - `package_purge` API action added
* `v2.3` - New `package_patch` action
* `v2.2`
    * `offset` and `limit` params added to `package_list` action
    * The ckan.api_url configuration option has been completely removed and it can no longer be used
* `v2.0`
    * The Action API is now CKAN's default API, and the API documentation has been rewritten
* `v` - ...

[2016-04-02 17:25] sckott opened #73 "make sure all functions accept curl options"
via https://discuss.ropensci.org/t/new-package-ckanr/251/7?u=sckott

in case the ckan instance in question requires auth

see if any might use oauth, etc., but should be fine as long as `...` is there

[2016-04-21 04:15] mingbogo opened #75 "Error in resource_create"
I was able to run all `resource_*()` functions with the exception of `resource_create()`. I did the following:

[code]

It turns an error "Error in file.exists(path) : invalid 'file' argument" no matter what rcurl value I set (local csv path, cloud csv path, existing resource url).

[2016-04-21 05:21] sckott commented on #75
Thanks for the report - i think you're looking for the `upload` parameter for the file to upload, I think has to be a local file, and not one at a url  - the `rcurl` param is for the url of resource

I'll have a look in the morning in more detail

[2016-04-21 06:39] mingbogo commented on #75
Thanks for your quick response Scott.

I am not sure what `rcurl` is used for, since my understanding of `resource_create` is to create a new resource under the package_id.

[2016-04-21 17:03] sckott commented on #75
that `rcurl` param links to the `url` param here in the docs http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.create.resource_create

[2016-04-21 22:29] sckott commented on #75
@mingbogo try it again after reinstalling like `devtools::install_github("ropensci/ckanr")`

`upload` was not required, but we weren't handing it appropriately internally, - now it actually is optional - and your above eg should work. let me know what happens.

[2016-04-22 00:31] sckott opened #76 "missing methods"
I think we need `db_query_fields` and `db_query_rows` methods - and possibly others, but that's where I got errors trying out examples.  - haven't been able to figure those out yet, getting errors on `fetch()`/`dbFetch()` - it's not clear why it's not working -

and I wonder if we should be developing against dev version of `dplyr` or stable - there's some changes there  - forcing dev dplyr for no

[2016-04-22 00:50] mingbogo commented on #76
If there is anything I can help with, please let me know.

[2016-04-22 00:53] mingbogo commented on #75
Thanks Scott. I will try this out soon and will let you know the results.

[2016-04-22 01:27] sckott commented on #76
@mingbogo will do, waiting to see what wush has to say

[2016-04-22 02:56] wush978 commented on #76
I see the following error:

[code]

This error is thrown at here:

https://github.com/ropensci/ckanr/blob/master/R/dbi.R#L182

As I remember, the `res@value$records` should be a `data.frame`, but it is a `list` now. I suggest to transform the `res@value$records` to `data.frame` (`res@value$fields` is the schema) and this error should be fixed.

[2016-04-22 06:06] mingbogo commented on #75
Tested and `resource_create` works. However, `rcurl` is not a necessary input. I tried the following and it successfully added my resource to the package, where `rcurl` is not given value:

[code]

[2016-04-22 14:11] sckott commented on #75
Correct. You don't need to pass a `rcurl` value. Did you try a call without it?  It should work.

[2016-04-22 17:22] sckott commented on #76
where?

[2016-04-24 12:18] wush978 commented on #76
Before `return` at https://github.com/ropensci/ckanr/blob/master/R/dbi.R#L183

[2016-04-24 12:20] wush978 commented on #76
https://github.com/ropensci/ckanr/blob/master/R/dbi.R#L63 might be a better place. I'll send a PR

[2016-04-25 00:33] mingbogo opened #77 "Data reads"
Is there a function that reads data into R? or do we need to do resource_show then read.csv(resource_show[["url"]]). Perhaps we can create a simple function for data read too. Alternatively, I know you are still working on some datastore API functions. I think that will do the trick too.

[2016-04-25 01:06] mingbogo commented on #77
resource_read = function(id,url=get_default_url()){
  read.csv(resource_show(id,as="table")[["url"]])
}

[2016-04-25 01:16] mingbogo commented on #75
Tried `rcrul=""` in `resource_create` function and it worked, but the function still considers `rcurl` as a requirement. I put a proposed fix to the `resource_create` r file for your consideration.

[2016-04-25 05:46] sckott commented on #77
Good question. Does this do what you want? https://github.com/ropensci/ckanr/blob/master/R/fetch.R

[2016-04-25 05:53] sckott commented on #75
Yeah, CKAN does want a URL  -

where? do you mean just passing `""` ?

[2016-04-25 05:54] sckott commented on #76
okay, thanks

[2016-04-25 05:54] sckott commented on #76
Thanks, will do!

[2016-05-23 10:52] wush978 commented on #76
Dear @sckott ,

Finally, I find a method to write a general test for API of dplyr. But it only works for `dplyr::filter` ... and there is nothing I can do with the rest of them. Therefore, I disable all the unit tests except the one for `dplyr::filter`.

Please check:

https://github.com/ropensci/ckanr/compare/master...wush978:develop/76?expand=1

I'll open the PR if there is no further issues.

[2016-05-23 15:51] sckott commented on #76
thanks!, looking at the PR

[2016-05-23 16:52] #76 closed

[2016-06-02 15:52] GloriaDomenico opened #79 "differents between ds_create_dataset() and resource_create()"
Hello,
Using the ckanr library, I've got a issue about the differents between ds_create_dataset() and resource_create().
I mean: their outputs look the same and their arguments also.
This confuse me a little bit: maybe is there a subtle different that i don't get?
Thanks!

[2016-06-02 19:17] sckott commented on #79
Hi @GloriaDomenico - thanks for the issue.

That's a good question because they do appear to use the same CKAN API routes. The datastore API http://docs.ckan.org/en/latest/maintaining/datastore.html#the-datastore-api doesn't even have a create_dataset route on it, though does have `datastore_create` which _Adds a new table to the DataStore._, which we implement in `ds_create()`

I have a note that

[2016-06-03 08:53] GloriaDomenico commented on #79
Hi @sckott thanks for your reply: it helped me a lot.
I am using your package to write a code for the managing of our CKAN website with R.
it is very useful!
I have noticed that do not exist a way to create new users with ckanr, is it right?
All in all, I am not really able to use tag_create(). I have tried in very different ways but I always get this message:
Error: Not working yet
I cannot under

[2016-06-03 15:37] mingbogo commented on #79
Perhaps the difference between ds_create_dataset() and resource_create() is the way data interacts with data stores? If data store and pusher are not enabled, then ds_create_dataset() may not work.

[2016-06-03 23:28] sckott commented on #79
@GloriaDomenico

right, we don't have a function for that yet, docs here http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.create.user_create

Sorry about that, if you look at the code https://github.com/ropensci/ckanr/blob/master/R/tag_create.R it's not working yet, so we just put a message in there saying that, will ping you here soon once it's working.

[2016-06-03 23:30] sckott commented on #79
@mingbogo sort of correct. i screwed up and used a non datastore api route for `ds_create_dataset` at some point, so it would surprisingly work when datastore isn't enabled. HOWEVER, it shouldn't work if datastore isn't enabled. I'll be updating `ds_create_dataset()` or removing it

[2016-06-05 11:53] GloriaDomenico commented on #79
Dear @sckott,
Thank you so much for your very useful explanations.
Everything is clear now!!
Kind regards

[2016-06-05 11:54] #79 closed

[2016-06-06 18:11] sckott commented on #77
closing due to inactivity

[2016-06-06 18:11] #77 closed

[2016-06-06 18:12] sckott commented on #75
this is sorted

[2016-06-06 18:12] #75 closed

[2016-06-06 18:14] sckott opened #80 "possibly remove ds_create_dataset()"
it actually uses the API route `/resource_create`, not sure why, but seems we should remove the fxn.

and we already have a `resource_create()` function

[2016-06-06 18:14] sckott commented on #80
via #79

[2016-06-06 18:17] sckott opened #81 "fix tag_create()"
can't remember why I couldn't get it to work earlier, try t ofix

via #79

[2016-06-06 18:18] sckott opened #82 "Add user_create function"
docs: http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.create.user_create

via #79

[2016-06-06 18:18] sckott commented on #79
@GloriaDomenico opened issues for removing `ds_create_dataset()`, for fixing `tag_create`, and for adding `user_create`

[2016-06-17 12:07] GloryPassarello opened #83 "organization_delete issue"
Goodmorning,
I cannot find a way to delete an organization using the ckanr package?
I always did it manually on the website interface and after that I have noticed that I cannot rewrite the same organization using  same name used before on the organization_create() function.
I don't know why, maybe is there a different way to delete an organization ?
Thank you so much

[2016-06-17 17:10] sckott commented on #83
Hi, Thanks for your message. WE don't have all organization api methods in the package yet. We'll add it http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.delete.organization_delete and other organization methods

[2016-08-05 21:46] sckott commented on #81
@florianm Can you test `tag_create()` on some CKAN instances you have access to? I don't have admin access to any I don't think, and still haven't sorted out datacast installation locally.

[2016-08-05 21:57] sckott commented on #81
its  possible I just have something wrong in the fxn call ....

[2016-08-05 22:24] sckott commented on #82
@florianm added this function and it actually worked against data-demo.dpaw.wa.gov.au (user: "stacy"), but then added `user_delete()` and I don't' have priveleges to delete the user, can you do that?

[2016-08-05 22:50] #73 closed

[2016-08-08 19:16] mattfullerton commented on #4
I noticed a long time ago that the package creation process is poorly documented. Here is the structure for a simple HTTP (curl) call which shows how the request should look:

curl -X POST https://CKAN_INSTANCE_URL/api/3/action/datastore_create -H "Authorization: API_KEY" -d '{"force":"true", "resource": {"package_id": "PACKAGE ID"}, "primary_key":["name"], "fields": [{"id":"field1", "type": "one

[2016-08-16 21:22] sckott commented on #4
thanks for the help @mattfullerton

[2016-11-24 09:40] SaintlyVi opened #84 "Cannot view or edit private datasets as authorised user"
Thanks for a great ckanr package. I love it. I'm running ckan 2.6.0 and have run into the following issue:
- `ckanr_setup('my-site', key = 'apikey')`: works fine; correct details displayed with `ckanr_settings()`
- `package_create(id='my_package')`: works fine
- `package_show('my_package')`: works fine
- `package_patch(list(private='true'), 'my_package')`: works fine and changes the dataset to pri

[2016-11-24 09:52] florianm commented on #84
@SaintlyVi this looks similar to https://github.com/ckan/ckan/issues/3176 - if your CKAN instance is older than this bug fix (end Aug 2016), it could be a CKAN problem, rather than a ckanr one.
What CKAN version are you using? What does `/api/util/status` say?

[2016-11-24 10:32] SaintlyVi commented on #84
Thanks for the comment @florianm. I upgraded to 2.6 at the beginning of the month specifically because I wanted to view private datasets. I've also tested with the python API, in which I can access private datasets without a problem. So I suspect that the problem lies with ckanr, unless there's a specific convention/setting in R that I haven't observed.

[2016-11-24 23:22] florianm commented on #84
@SaintlyVi thanks for the clarification - bummer, this needs some investigating, paging @sckott - we're in the middle of upgrading our datacats/Docker based CKAN instances (including data-demo.dpaw.wa.gov.au which is used as a test server for ckanR), so not sure how much available time and servers not on fire I've got on my end.

[2016-11-25 08:20] SaintlyVi commented on #84
I'm happy to give the trouble shooting a shot myself if you can point me into the right direction of where to start looking @florianm @sckott Been keen on getting a bit deeper into development and this seems like a good opportunity to learn.

[2016-11-25 16:33] sckott commented on #84
@SaintlyVi thanks for raising this issue, and offering to chip in

if you haven't already, fork and pull down the repo, make a feature branch. Then look into internals of  `package_show` and `user_show` and see what could be going wrong with those, maybe credentials aren't being set properly, etc. If you sort it out, send a PR!

[2017-02-15 20:59] sckott commented on #84
@SaintlyVi any thoughts?

[2017-02-27 03:15] sckott opened #86 "replace httr with crul"

[2017-06-01 18:14] juusotam commented on #84
Not familiar (yet) with the git pull/push system... but I guess this should work... I added the ´key´ argument to the function.

So when calling the function it should be:

´package_show(id = 'xxxxxxxxxxxxxxxxxxxx', key = get_default_key())´

[code]

[2017-06-07 17:10] sckott commented on #84
good idea @juusotam - thanks

[2017-06-19 02:57] florianm opened #90 "dplyr 0.7.0: object ‘base_agg’ is not exported by 'namespace:dplyr'"
dplyr 0.7.0 is out, and some weird and wonderful things are happening on the ckanr side.

R 3.3, dplyr master (19 June 2017), ckanr master (19 June 2017).

build:

[code]

check:
[code]

We'll need to follow https://github.com/tidyverse/dplyr/issues/2620 - investigating.

[2017-06-19 23:49] florianm opened #92 "Make HTTP errors great again"
Example: authentication error on `package_show` expects JSON by default, but chokes on the HTTP page with the error message:

[code]

Would it be worth the effort to catch HTTP errors e.g. somewhere [here](https://github.com/ropensci/ckanr/blob/master/R/zzz.R#L37)?

[2017-06-20 00:17] sckott commented on #92
yeah! will have a look

[2017-06-20 17:08] #90 closed

[2017-06-22 09:27] florianm commented on #92
My problem is a federated login, which re-directs the API call to the login page (and returns HTTP status 200). As this is no error code, ckanr doesn't pick this up as a problem - we'd need to test for "is this valid HTTP response an API response". It's definitely a silly thing on our end (should our HTTP status be in the "redirected" 300 range?), but the error message I got was confusing at first

[2017-06-22 19:41] sckott opened #93 "move lazyeval to rlang"
https://cran.rstudio.com/web/packages/rlang/

recommended to use rlang now

[2017-06-22 19:42] sckott opened #94 "extras in package_patch"

[2017-06-22 19:42] sckott commented on #94
clarification desired on how to do extras,

[2017-06-22 20:08] sckott commented on #94
@florianm Any thoughts on `extras` with respect to `package_patch` and/or `package_update`?

i thought i had it figured out, that we just pass in arbitrary key-value pairs in a list (which gets sent to CKAN API as JSON), but that doesn't seem to work. those extras fields are just ignored. searching around https://github.com/ckan/ckan/issues it seems that maybe there is a filter puling out only cer

[2017-06-23 01:50] florianm commented on #48
@wush978 and @sckott - your work has saved my Department a ton of headache!

We have moved behind a Microsoft single-sign-on authentication wall, and although we can make the CKAN API accessible to our intranet (SSO exempt), the resource URLs can't be easily made SSO exempt. This means that we cannot access our data on CKAN via read.table("ckan resource url")!
However, since dplyr can access the d

[2017-06-23 04:24] florianm commented on #94
extras are a dict with user-defined keys.

However, some extensions like ckanext-scheming override extras with their custom, predefined fields. This allows CKAN to implement custom dataset schemas. To make it more interesting, scheming allows the schemas to live in your own ckan extension. I can't tell whether demo.ckan.org implements a custom schema, likely not.

Other extensions, like ckanext-sp

[2017-06-27 20:34] sckott commented on #48
nice!

[2017-06-27 20:36] sckott commented on #94
@florianm okay, i've tried passing in extra fields but hasn't worked. both in a key in the body called `extras` and just arbitrary key-value pairs in the body. Know of any examples of extras working?

[2017-06-28 00:07] florianm commented on #94
@sckott found one: https://demo.ckan.org/api/3/action/package_show?id=demo-ckan-org-dataset-bob-orlowski

[2017-09-14 03:04] jasonajones73 opened #96 "Error in curl::handle_setform(handle, .list = req$fields)"
I had no issues when using the resource_update function two weeks ago but I am now getting this error every time I try to execute:

[code]

Is this something obvious that I am missing?

[2017-09-14 19:21] sckott commented on #96
thanks @jasonajones73

to start off with, can you please paste your `sessionInfo()` into a code block

[2017-09-14 19:25] jasonajones73 commented on #96
`> sessionInfo()
R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices

[2017-09-14 19:26] jasonajones73 commented on #96
`> sessionInfo()
R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices

[2017-09-14 19:26] jasonajones73 commented on #96
`> sessionInfo()
R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices

[2017-09-14 19:27] jasonajones73 commented on #96
Sorry - was having browser issues for some reason. Is that what you are looking for?

[2017-09-14 19:30] sckott commented on #96
yep, thx

[2017-09-14 19:32] jasonajones73 commented on #96
[code]

[2017-09-14 19:53] sckott opened #97 "add key param to package_show"
via https://github.com/ropensci/ckanr/issues/84#issuecomment-305575645

[2017-09-14 19:54] sckott commented on #84
@juusotam opened new issue for your `package_show` fix, closing this issue due to inactivity

[2017-09-14 19:54] #84 closed

[2017-09-14 20:00] #97 closed

[2017-09-14 20:03] sckott commented on #96
i do get the same error with that version of this pkg, just a sec

[2017-09-14 20:06] sckott commented on #96
@jasonajones73 try reinstalling like `devtools::install_github("ropensci/ckanr")` then try again and see if that fixes it

[2017-09-15 00:41] jasonajones73 commented on #96
Perfect! Just reinstalled and successfully updated a resource on the first attempt.

Thank you for your help and quick response!

[2017-09-15 00:41] #96 closed

[2017-09-15 02:10] sckott commented on #96
@jasonajones73 great, glad it works!

[2017-09-27 18:38] jasonajones73 commented on #96
@sckott Any chance that you will be revisiting the addition of the datastore_upsert API action?

[2017-09-27 19:45] sckott commented on #96
you probably saw but there is some discussion here of that https://github.com/ropensci/ckanr/issues/4

can you open an issue for it specifically so it doesn't get lost in the pile

[2017-09-28 00:41] jasonajones73 opened #98 "Add datastore_upset API action"
Adding at the request of @sckott. API Documentation found [here.](http://docs.ckan.org/en/ckan-2.7.0/maintaining/datastore.html)

The datastore_upsert API action allows you to add or edit records to an existing DataStore resource. I'm guessing this would be a function similar to the other functions. I'm guessing this would be a function similar to the other ds functions already in the package.

[2017-09-28 22:28] sckott commented on #98
thanks for the issue

[2017-10-08 06:52] chrisfan24 opened #99 "ORCID identifiers and search keywords for JSON-LD metadata"
👋  @sckott  @wush978  @florianm @imanuelcostigan

I'm using codemetar to to create JSON-LD metadata for this package and it'd be great if I could get some info from each of the authors. if all of you could comment with your ORCID identifier (except for @sckott since I already have yours) along with keywords for the package that would help for search, it'd be great!

Thanks 😃

[2017-10-09 02:23] florianm commented on #99
Hi @chrisfan24 that's mighty nice of you, thanks! My orcid is http://orcid.org/0000-0003-4269-4242

[2017-10-19 23:04] sckott commented on #99
@wush978 and @imanuelcostigan do you have ORCIDs?

[2017-10-20 14:10] wush978 commented on #99
@chrisfan24 thanks. My orcid is http://orcid.org/0000-0001-5180-0567

[2017-11-27 21:55] sckott commented on #99
@chrisfan24 here's some keywords:

`database`, `open data`, `ckan`, `api`, `data`, `dataset`

[2017-12-03 09:46] #99 closed

[2018-01-24 20:14] sckott opened #101 "`ds_search`: add egs of how to query on specific fields and multiple fields"
https://twitter.com/amercader/status/955812292884647938

origiainly from https://twitter.com/KenSteif/status/955520845287444480

[2018-04-28 15:23] nujcharee opened #103 "Error:"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi there
Ive tried this code

[code]

and it just simply gave me `Error:`
Is it to do with the fact that the site is https?  Hope you can advice please. Thank you so much

[2018-05-01 14:46] sckott commented on #103
@nujcharee thanks for your question.

so the URL is pretty important and in this case you need a different one

if you click on the "datasets" link on that page, you get to a very different url, which is the one you want

`url = "http://hub.datanorthyorkshire.org/"`

let me know if that works for you

[2018-05-02 06:16] nujcharee commented on #103
@sckott worked perfectly sorry for my silly question! Many thanks

[2018-05-02 06:16] #103 closed

[2018-05-02 16:33] sckott commented on #103
great, glad it works

[2018-07-18 12:30] noeliaoses opened #104 "package_list returns ERROR"
<details> <summary><strong>Session Info</strong></summary>

Session info -----------------------------------------------------------------------------------------------------
 setting  value
 version  R version 3.4.4 (2018-03-15)
 system   x86_64, linux-gnu
 ui       RStudio (1.0.136)
 language en_GB:en
 collate  en_GB.UTF-8
 tz       Europe/Madrid
 date     2018-07-18

Packages ------------------

[2018-07-18 16:58] sckott commented on #104
thanks for your question @noeliaoses !

`ckanr_setup` is looking for a base URL, so not the complete thing, try e.g.

[code]

[2018-07-19 07:37] noeliaoses commented on #104
Thanks @sckott !

That got rid of the error message. However, when I use GET("http://data.europa.eu/euodp/data/api/3/action/package_list") I get a list of over 12k packages but the way you suggested I only get 31. Any idea why?

Thanks a lot!!

[2018-07-19 17:08] sckott commented on #104
Did you read the documentation yet? see `?package_list`, see the `limit` parameter in particular

[2018-08-03 06:39] JanDuo opened #105 "How to specify a proxy?"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I'm using RStudio on a Windows7 environment. It's located behind a proxy, but with the global option "Use Internet Explorer library/proxy for HTTP" ticked I can download packages without issues.

But when I try to run the next piece of code I run into connection issues.
[code]
Error in curl::curl_fetch_memory(url, handl

[2018-08-03 17:06] sckott commented on #105
thanks for your question @JanDuo - looking at it now

[2018-08-03 18:15] sckott commented on #105
@JanDuo can you reinstall `remotes::install_github("ropensci/ckanr")` and try again, see `?ckanr_setup` after installing for an example of setting proxy

[2018-08-06 05:56] JanDuo commented on #105
Thanks a lot! This solved my problem. The next piece of code does give the package list as expected.

[code]

[2018-08-06 05:56] #105 closed

[2018-09-19 13:57] emanueleffe opened #106 "GET with authentication"
Hi, I'd like to use your library in an internal project with a protected Apache HTTP connection but it seems that is impossible to set up a connection like that.
Using httr library I can connect (and then get the dataset) calling the following method: GET(requestURL, authenticate(username,password, type = "basic")).
Is it possible to implement something like ckanr_setup(url, username, password) th

[2018-09-19 17:50] sckott commented on #106
thanks for your question @emanueleffe

you should be able to pass in httr options/fxns through `...` in each fxn. e.g.,

[code]

let me know if that works

[2018-09-21 17:06] sckott commented on #106
hmm, okay, thanks. I think I don't have it setup internally so that you can pass in other curl options.

I think we can do it this way:

[code]

The `verbose()` option is not required, but lets you see if authentication is working, look for a header like (the username and password is converted to a uuid so the details aren't seen by a 3rd party)

[code]

let me know if that works.

[2018-09-24 08:12] emanueleffe commented on #106
Thank you again for your response. I just tried and **it works** with `set_config(authenticate(username, password))`!

Thank you again for your precious help!

[2018-09-24 08:15] #106 closed

[2018-09-24 17:58] sckott commented on #106
glad it works

[2018-11-01 17:41] sckott opened #107 "package_search: more params to support"

[2019-02-15 21:39] t-morrison opened #108 "package_update deletes resource, some unspecified tags"
Running `package_update()` deletes the resource associated with the package on my CKAN instance, along with some (not all) of the metadata tags for the package that I do not specify.

[code]

[code]

[2019-02-18 06:29] florianm commented on #108
Hi @moman822, the (best) way to update a package is to first get the package data, then update fields as required, then update the package with the updated original data.

Hope this helps!

[2019-02-19 15:43] moman822 commented on #108
@florianm can you show (or point to) a brief example of what you mean? Do you mean somehow updating the package data locally first? Thanks.

[2019-02-20 03:31] florianm commented on #108
@moman822 here's what I'd do:

[code]
Does this work for you?

[2019-04-03 18:46] #104 closed

[2019-04-03 18:47] sckott commented on #108
closing due to inactivity

[2019-04-03 18:47] #53 closed

[2019-04-03 18:48] #50 closed

[2019-04-03 18:49] sckott opened #109 "Maybe allow user to select http method on a fxn level?"
via https://discuss.ropensci.org/t/ckranr-issue-when-accessing-data-gov-mk/1638

use case is some CKAN instances only support POST while others support only GET for some CKAN API methods

[2019-04-04 06:39] florianm commented on #53
Update on above links: LinkDigital revamped my datacats-based prototype into an AWS-orchestrated and CMS-wrapped portal which now runs at https://data.wa.gov.au/.
@keithamoss is in charge of the portal.

See https://ckan.org/2016/10/13/enterprise-ckan-stack-for-aws-is-now-available-on-github/

[2019-04-13 22:07] fernandobarbalho commented on #108
Hi, I had this same issue, and I think that is actually a bug that must be fixed. As you can read in the documentation pdf file, page 42, the approach is to include in the list just the fields you want to update, as you can read in this text from the documentation (https://cran.r-project.org/web/packages/ckanr/ckanr.pdf):

## update just chosen things
# Make some changes
x <- list(maintainer_email

[2019-04-15 20:50] sckott commented on #108
@fernandobarbalho  What is a bug? you said "that", but what is "that??

[2019-04-15 21:13] fernandobarbalho commented on #108
Sorry, I wasn´t so clear.
The bug is that the package updated is losing informations related to the fields that are not explicited in the list. As I´ve highlighted above, according to the documentation the user should be able to list in the x argument just  the chosen things he/she wants to update.

[2019-04-15 23:04] florianm commented on #108
If I may offer my opinion, the "delete what's not included" behaviour feels logical. Updating the package with a dict implies that the dict contains the entire package metadata. The dict returned by `package_show` contains (for free and in one command) all package metadata and is easier to manipulate than starting from scratch with an empty dict and having to get all the structure correct (I'm not

[2019-04-15 23:15] fernandobarbalho commented on #108
Yes, it would be perfect.

Thanks for your answer.
________________________________
From: Florian Mayer <notifications@github.com>
Sent: Monday, April 15, 2019 11:04:08 PM
To: ropensci/ckanr
Cc: Fernando Almeida Barbalho; Mention
Subject: Re: [ropensci/ckanr] package_update deletes resource, some unspecified tags (#108)

If I may offer my opinion, the "delete what's not included" behaviour feels l

[2019-04-16 01:51] florianm commented on #108
@sckott should I PR an update to the docs for `package_update`?

[2019-04-16 19:11] fernandobarbalho commented on #108
@florianm , I am sorry but the code you suggested did not work to me.
The x argument of the function package_update() must be of class list, as is written in the code:

[code]
when I execute this script bellow...

[code]

... the last executed line gives me the following result

[code]
which implies that the condition to execute package_update is not correct, as it can be seen when I execute this

[2019-04-16 20:54] fernandobarbalho commented on #108
@florianm , good news
ds_ckan as = 'table' works nice

so, I suggest to put this in your documentation

[code]

[2019-04-16 23:07] florianm commented on #108
thanks heaps @fernandobarbalho!

[2019-04-17 10:40] amercader opened #110 "Update repository description"
Hi, CKAN maintainer here. Congratulations on the amazing tool, and thanks for contributing to the CKAN ecosystem! I just wanted to suggest a small change in the repository description. The REST API has been deprecated for a long time and removed in recent versions, so to avoid confusion perhaps is better to use "R client for the CKAN Action API" (or just "R client for the CKAN API").

[2019-04-17 16:41] sckott commented on #108
@florianm yes, please do

[2019-04-17 16:41] sckott commented on #53
thanks @florianm

[2019-04-17 16:42] sckott commented on #110
👋 thanks for the suggestion. Do you have a preference on "Action API" vs. "API"?

[2019-04-17 17:00] amercader commented on #110
No strong preference. Perhaps "CKAN API" is what most of your users care about :)

[2019-04-17 19:04] sckott commented on #110
will make the change.

(off topic: while I have you here, i've always wanted to be able to test this pkg against a real CKAN instance that I can spin up myself. ideally something I can spin up on Travis or circle-ci or so. any ideas?)

[2019-05-05 00:03] jaesm14774 opened #111 "Is there any function in ckanr can arrange package last modified date directly?"
Hi, everyone

I meet some problems in my project, so ask for help.I'm glad to hear some idea about this question .

Q1:
Is there any function in ckanr can arrange last modified date  of package directly(e.g. from new to last)?Not use package_show(id) because it takes many times if exist many packages.

I want to do some project like crawl data from website whose structure is ckan, do some operatio

[2019-05-06 04:47] florianm commented on #111
Hi @jaesm14774 - some pointers:

I can't find or don't remember a way of ordering `package_list` by attributes, such as dates of last change. However, you can [get a list of package (revisions) based on a last changed date](https://docs.ckan.org/en/latest/api/#ckan.logic.action.get.revision_list).

Crawling a CKAN: I've done some similar work, crawling ArcGIS Server REST and populating CKAN from t

[2019-05-06 19:10] sckott commented on #111
thanks @florianm

@jaesm14774  for your 2nd question

Can you re-phrase this? I can't quite understand what you are asking.

[2019-05-07 01:49] jaesm14774 commented on #111
@florianm  Thank you very much.It's just what I want .

@sckott  Ok. I use this comment like image below in other programming.And I get the same order package id by this comment.Then the question is how package order.Is it some rule to order id of package?
e.g. first time running this comment:[0001,0005,asd,004,....]
       second time running this comment:[0001,0005,asd,004,....]
       ...
 All

[2019-05-07 02:20] florianm commented on #111
Second-guessing here:

* CKAN determines the order of API responses, ckanr is just a wrapper around the CKAN API. To figure out where the ordering of packages in `package_list` comes from, you could read the CKAN code or search CKAN stackoverflow questions in regards to ordering of the response.
* Rather than relying on the order of the response (addressing by position) you could match by package

[2019-05-07 23:32] sckott commented on #111
thanks again @florianm

@jaesm14774 did we address all your questions?

[2019-05-08 01:11] jaesm14774 commented on #111
Yes,Thanks.

[2019-05-08 01:11] #111 closed

[2019-05-10 22:45] jqnatividad commented on #110
Hi @sckott ,
In terms of a test instance, my organization - Datopian, might be able to help with that.

Dunno if its something that you can spin up with Travis or circle-ci, but we can certainly host a test instance, that perhaps, with the [CKAN API](https://github.com/ckan/ckanapi), you can automatically delete/insert datasets as part of testing.

Let me know...

[2019-05-12 16:01] amercader commented on #110
Hey, Sorry I missed this. No need to setup a live instance somewhere, all CKAN extensions tests run in Travis set one up on each run. I'll send a PR early this week that you can tweak if needed.

[2019-05-12 16:10] sckott commented on #110
thanks @jqnatividad for the offer, i'll look into the offer from @amercader first though I think

@amercader thanks, a PR would be great

[2019-05-13 19:16] MatthiasHinz opened #112 "package_list fails without giving a meaningful error message"
I am trying to retrieve metadata from the CKAN API of Open Data Austria (https://www.data.gv.at). However, calling the method `package_list` fails without returning a meaningful error message. On the other hand,  retrieving the data directly via HTTP GET in the browser succeeds (URL: https://www.data.gv.at/katalog/api/3/action/package_list) and the base URL that I used seems to be correct.

Here a

[2019-05-13 19:23] sckott commented on #112
@MatthiasHinz thanks for this issue! and for including your session info. the key is that you are using the CRAN version of this pkg, and its no fault of your own, but it has been fixed in the development version here. try `remotes::install_github("ropensci/ckanr")`, reload R, then try again. should work, but let me know.

meaning to get a new version to CRAN soon.

[2019-05-13 20:05] MatthiasHinz commented on #112
@sckott Ah, yes you are right!! Normally, I am also trying the development version, but this I've overlooked it because I thought I had it installed. Now it works.

Many thanks for your quick and understanding response.

[2019-05-13 20:05] #112 closed

[2019-05-13 20:36] sckott commented on #112
glad it works 👍

[2019-05-15 14:33] VLucet opened #113 "Format(s) of the ckan_package S3 object"
**Not an urgent problem at all, just a (rather long) discussion on how to best format things**

As I am involved in the development of the package `rgovcan` which is wrapping around `ckanr` I have been thinking about the most user-friendly way to return query results. I believe the current implementation `S3` object `ckan_package` could be improved to facilitate delivery to users.

I believe it is

[2019-05-17 03:20] VLucet commented on #113
EDIT: I have edited my original comment as, after a little more thinking, I found a better way to formulate my suggestions. My apologies for the messiness of the original comment!

[2019-05-17 03:47] VLucet opened #114 "fetch() fails on SHP due to deprecated method in maptools"
I was trying to wrap a function around `ckanr::fetch` but was running into errors with reading Shapefiles into session. Running this minimal example for the `fetch` man page:

[code]
yields this error:

[code]

Does that mean switching to `sf` for reading shapefiles? I would be happy to try and see if it fixes it, if it is agreed it is the right strategy.

<details> <summary><strong>Session Info</

[2019-05-21 15:16] sckott commented on #114
Thanks @VLucet for this.

When proposing changes/etc, can you do so against the current version here on github instead of the CRAN version?

The `fetch` fxn has changed to `ckan_fetch`, see the file `R/ckan_fetch.R` - the examples in there do need updating as the `http://publicdata.eu/` url no longer exists, i think it's now https://data.europa.eu/euodp/data/

in the current version here, we use t

[2019-05-21 15:34] sckott commented on #113
thanks for this @VLucet

- first, **IF** we were to use something more than S3, as the maintainer, i would insist on R6 instead of S4
- returning data as a list, and only doing data.frame conversion with `jsonlite::fromJSON` is because every CKAN instance is different, and I wanted to make sure we weren't failing on parsing results because we hadn't considered an edge case in how results look like

[2019-05-21 15:56] VLucet commented on #114
Hi @sckott, I'll make sure to PR on this repo and not on the CRAN repo. We agree that the examples need updating.

I do think the problem persists with `ckan_fetch` as it stills calls `read_session` which uses `maptools::readShapePoints`, which is now deprecated. Switching to the dev version and attempting the similar example above yields the same error.

[2019-05-21 15:57] VLucet commented on #113
Thank you for your reply @sckott. Replying to each of your points:

- I would agree that R6 makes more sense given we are processing from an API. I do not know R6 well however. But maybe we should stick to S3 (see below).
- I do think it makes the most sense to keep it as a list for parsing reasons, but then the outputs are not so user-friendly in my opinion and that is why I was thinking of worki

[2019-05-21 16:42] sckott commented on #114
Okay, switching to sf is a good idea for shape files. `sf` should go in Suggests, not Imports

[2019-06-27 17:33] sharlagelfand opened #116 "ckan_fetch() fails when resource URL doesn't contain file format"
In updating the examples for `ckan_fetch()`, I ran into a lot of cases where the file format isn't actually in the resource URL and so `ckan_fetch()` fails (somewhat uninformatively):

[code]

<sup>Created on 2019-06-27 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

From what I've seen, the file format is often (always? I'm not a CKAN expert) available in that `res` object.

[2019-06-27 17:41] #114 closed

[2019-06-27 18:38] sckott commented on #116
I think that makes sense to add a format parameter. it'd be interesting to see if `resource_show` ever returns the wrong format type for the file, hopefully it's always right, or at least most of the time

[2019-06-27 19:19] sharlagelfand commented on #116
cool! yeah, i'm not entirely clear on how that field is populated.

my thought was to take the format from the URL if it's available, and only use the user-supplied (via `resource_show()` or manually) if it's not. do you think it would make more sense to do that, or to have the user-supplied one supersede what's found from the URL? hopefully they'd always be the same, but if they're not... 🙃

[2019-06-27 19:24] sckott commented on #116
i was trying to say that the `format` key is in the response body from the CKAN server - e.g,. try

[code]

jq - https://stedolan.github.io/jq/

[2019-06-27 19:29] sharlagelfand commented on #116
yep! sorry, by "user-supplied" i meant the one they'd specify in the `format` argument, likely from `resource_show()`, rather than whatever is derived from the URL via `file_fmt(x)`

[2019-06-27 21:17] sckott commented on #116
right, there is the format guessed within `ckan_fetch` within `fetch_GET`, but i thought when you referred to `res` you mean the result from the call to `resource_show`, which is directly from the data returned from CKAN

[2019-06-27 21:28] sharlagelfand commented on #116
yes, i did! i think we're talking about the same thing and that my original question wasn't very clear.

i'm just curious to see if there would be cases where the format guessed (via `file_fmt(x)`) doesn't match the user input (from `resource_show()`, e.g. `resource_show` returns the wrong format) and in that case, which should be chosen as the "true" format. does that make more sense?

[2019-06-27 21:35] sharlagelfand commented on #116
i feel like i'm confusing myself more than anything. i'll just work on a PR and we can talk about it more concretely!

[2019-06-27 21:50] sckott commented on #116
sounds good

[2019-07-01 17:41] #116 closed

[2019-07-03 07:51] florianm opened #119 "Error in curl::handle_setform(handle, .list = req$fields) : Unsupported value type for form field 'last_modified'."
I'm having a blast from the past...

With latest master of ckanr (0.1.0)
[code]
throws
[code]
Reinstalling ckanr from master as #96 suggests did not fix the problem.

GH keeps deleting my edits, so here we go again:

[ckanr::resource_update](https://github.com/ropensci/ckanr/blob/master/R/resource_update.R#L108) sends `last_modified` as local time (GMT+08 here)

[code]

CKAN [resource_update](http

[2019-07-03 15:27] sckott commented on #119
I assume by this you meant the current version on github b/c v0.1 is the version on CRAN ??

[2019-07-03 15:37] sckott opened #120 "package_search: fails on older versions of CKAN (e.g. 2.2) with params not allowed"
[code]

those params aren't in the `package_search` route in that CKAN version https://docs.ckan.org/en/ckan-2.2.3/api.html

probably need to

- get CKAN installation version on user running `ckanr_setup()`
    - if they just pass a URL to a fxn call, then we need to call `ckan_version()` to get the version
- then remove params not supported for diff. versions as needed
- then do http request

[2019-07-03 16:14] #119 closed

[2019-07-03 16:14] sckott commented on #119
I couldn't quite replicate your same problem, but the last_modified value should match that format now

[2019-07-03 17:18] #120 closed

[2019-07-03 17:27] #68 closed

[2019-07-03 17:27] #80 closed

[2019-07-03 17:31] #81 closed

[2019-07-03 17:34] #69 closed

[2019-07-03 17:34] sckott commented on #69
seems to be working now, not sure what happened before

[2019-07-03 17:35] sckott commented on #107
as far as I can tell this is sorted

[2019-07-03 17:35] #107 closed

[2019-07-03 17:36] #66 closed

[2019-07-03 17:38] sckott commented on #4
initial support is here in the pkg, lets open new issues as needed for certain parts of datastore

[2019-07-03 17:38] #4 closed

[2019-07-03 17:42] sckott commented on #110
description for repo changed.

[2019-07-03 17:42] #110 closed

[2019-07-03 19:24] sckott commented on #113
sorry for delay in response.  I'll have a look at your README and get back to you

[2019-07-03 19:42] sckott commented on #98
this is being done in #102 - will work on for next mliestone

[2019-07-03 19:57] #83 closed

[2019-07-04 00:03] florianm commented on #119
Cheers! I had the issue with both cran and master. Sessioninfo is with ckanr master. Will retry with latest master.

[2019-07-04 01:37] florianm commented on #119
@sckott whatever you did seemed to fix this Heisenbug.

[code]
Thanks for the quick turnaround!

[2019-07-04 23:00] sckott commented on #119
thanks for the good report, made it easy to create the correct date format

[2019-07-07 17:02] everetr opened #121 "Request: Separate "CRAN version" tutorial"
The CRAN version of `ckanr` is old, to the point where the tutorial code in the README no longer works:

[code]

<sup>Created on 2019-07-07 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Any chance the README and any applicable vignettes could be modified to contain the equivalent of the above code that'll work for the CRAN version? I can figure it out myself, but this chang

[2019-07-10 10:03] sckott commented on #121
thanks @everetr for the issue.

I am about to submit a new version to CRAN. I know it has been a long time, sorry about that.

I will make sure the readme/vignette/etc. are updated with the version here, as a new version will be to cran within the next week. Does that work?

[2019-07-10 13:44] nicholsn opened #122 "Trouble Accessing Private Datasets"
Hello, the issue I am reporting seems related to #84, perhaps a fix wasn't implemented, so apologies if this is a duplicate.

I also see that there is a `include_private` parameter for `package_search` that was discussed on the [forum](https://discuss.ropensci.org/t/searching-private-package-with-ckanr/1430), however, that seems related to solr (and also doesn't work as the `ckan_info` is part of

[2019-07-14 08:04] Edouard-Legoupil opened #124 "CKNAR does not send the API key on each call"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I want to use CKANR on a ckan instance that is set up with significant user access restrictions (used internally...).

It seems that CKANR does not send the API key on each call

Tried -

`library('ckanr')`
`ckanr_setup(url = "https://ridl.unhcr.org", key = "mykey...")`
`library(httr)`
`set_config(authenticate(username,

[2019-07-14 22:39] everetr commented on #121
Thank you very much. Closing.

[2019-07-14 22:39] #121 closed

[2019-07-18 00:53] sckott commented on #124
thanks @Edouard-Legoupil - can you please run session info again but after loading `ckanr`, as i don't see the version of `ckanr` that you're using

[2019-07-18 06:21] Edouard-Legoupil commented on #124
Sorry -- see below:
 ckanr       * 0.1.0   2015-10-22 [1] CRAN (R 3.6.0)

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-07-18 17:17] sckott commented on #113
@VLucet sorry again for delay, back from vacation now with time.

I took a run through your README and everything looks nice. A few thoughts:

- Are you developing your pkg with the CRAN version of ckanr, or the development version here? because they are quite different now since it's been so long. e.g., fetch fxn is now ckan_fetch
- At the moment it seems your fxns, e.g., `govcan_search`, `govcan

[2019-07-19 02:54] sharlagelfand opened #125 "ckan_fetch writes to working directory when store = "session""
i noticed that `ckan_fetch()` writes the file to disk (the working directory) in most cases when `store = "session"` (e.g. https://github.com/ropensci/ckanr/blob/master/R/zzz.R#L73). would you consider having it write to a temporary file instead and then reading from there?

i've been looking a little at what `rio::import()` does and that seems to be the strategy (e.g., see [`remote_to_local()`](h

[2019-07-19 16:36] sckott commented on #122
thanks and sorry for delay, was on vacation. i'll have a look at the PR

[2019-07-19 16:42] sckott opened #127 "Two calls to package_show endpoint in package_show fxn"
https://github.com/ropensci/ckanr/blob/master/R/package_show.R#L39
https://github.com/ropensci/ckanr/blob/master/R/as-ckan_package.R#L55

Should make only 1 ideally, if possible, look into

[2019-07-19 16:44] #122 closed

[2019-07-19 17:14] nicholsn commented on #124
This is related to what I did in #126 where I added `get_default_key()` to the underlying function called by `package_show()` to pass along the api key.

I wonder if it makes sense adding the default key to each of the api level functions, or if we could just bypass that and assume the key should be passed with every call to `ckan_VERB` ([here](https://github.com/ropensci/ckanr/blob/master/R/zzz.R

[2019-07-19 17:17] sckott commented on #125
thanks @sharlagelfand

agree we should write it to a temporary file - PR sounds good

[2019-07-22 20:20] #125 closed

[2019-07-22 21:17] sckott commented on #124
thanks for the session info @Edouard-Legoupil

thx for the comment @nicholsn - i think we should make sure thiat works with all fxns. for now we are allowing users to pass in an API key to each fxn call or do it once with `ckanr_setup` - ideally in the future we simplify and just set it up in one place, probably `ckanr_setup`, but for now I'll make sure each fxn call can pass the key through to th

[2019-07-22 21:38] #124 closed

[2019-07-22 21:38] sckott commented on #124
okay, this should work now.

@nicholsn added `key` param to all fxns, let me know if you find any problems

[2019-07-23 08:59] florianm commented on #122
I can reproduce a similar issue: I am admin in our local CKAN and can view another user's private dataset through the GUI. With latest ckanr (github master, 0.3.0), I get a 403 on `package_show`.
I'd have expected to have the same level of access through ckanr/API key as I have through the front end. I should add I'm running an older CKAN (2.6.0a).

Session info
[code]

[2019-07-23 16:44] sckott commented on #122
there were a number of changes where I didn't bump the version, just to be sure can you reinstall?

and when you get the error can you do `traceback()` to see where the error is coming from

[2019-07-23 23:51] florianm commented on #122
Solved, thanks!
So based on my SessionInfo, viewing private CKAN datasets with `package_show` works in ckanr >= 0.3.0.9100.

[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-07-24 00:21] florianm commented on #55
Revisiting this issue, creating resource views is closely coupled to eyeballing the resulting (working or broken) resource views in CKAN itself. This is more a maintenance/admin task than a data engineering / data access task.

The lazy way would be to let CKAN admins bulk create those trough `paster` commands (no one else should bulk-modify CKAN content), the harder way would be to include (at le

[2019-07-24 01:24] sckott commented on #55
thx for revisiting. sounds complicated. maybe we should close this?

[2019-07-24 01:51] jonocarroll commented on #122
Great work - I can also confirm (in @nicholsn's specific use-case) that this works.

It appears, however, that `ckan_fetch` does not receive the same processing, in that the key header is not specifically processed

https://github.com/ropensci/ckanr/blob/5debf509c62a09d9684ff70c842f22b50fba8af6/R/zzz.R#L97

Calling `GET` with the appropriate header manually does work.

While at first glance it loo

[2019-07-24 03:36] florianm commented on #55
I'm in favour of closing until there's a strong use case.

Wearing my CKAN instance admin hat, I'd rather do these actions through the CKAN CLI (paster) and see any errors directly on the CLI/GUI rather than through the added abstraction level of using an API wrapper (ckanr).

Wearing my data engineer hat, I'd say ckanr's scope is working on the content of CKAN (resources) as in building reports a

[2019-07-24 17:08] sckott commented on #55
i haven't used paster but i'd agree in your take here, closing

[2019-07-24 17:08] #55 closed

[2019-07-24 17:09] sckott commented on #122
no, not difficult, @sharlagelfand is currently working on that - do you mind doing that Sharla?

[2019-07-24 20:14] sharlagelfand commented on #122
yep i can take a look!

[2019-08-06 17:13] sckott opened #138 "ds_search_sql: fix egs and tests"
egs and tests are throwing errors.

- demo.ckan.org egs are not working, looking into errors
- the tests for this fxn use nhm ckan, and are blocking the requests, i imagine they used to allow datastore sql queries but no longer do

[2019-08-16 03:05] LVG77 opened #141 "Use stringsAsFactors = FALSE for CSV files in `ckan_fetch() / read_session()`?"
First, I would like to thank you for this wonderful package!

This is not exactly an issue but rather a question. I am wondering if it wouldn't make sense to have `stringsAsFactors = FALSE` when fetching .csv files with `ckan_fetch() / read_session()`? It would make the reading of the data faster and also it is not always useful to have all non-numeric columns converted to factors automatically.

[2019-08-16 16:25] sckott commented on #141
Thx for the issue @LVG77

@sharlagelfand thoughts?

[2019-08-19 13:15] sharlagelfand commented on #141
makes sense to me to change! i can PR it

[2019-08-21 18:46] #141 closed

[2019-10-10 20:34] sharlagelfand opened #143 "update version on CRAN?"
hey Scott,

I'm looking to submit opendatatoronto to CRAN - no specific timeline, but figured it'd be nice to get it on there. right now it depends on a lot of newer features in ckanr and needs the dev/github remote version, which seems like a no-no for CRAN.

curious if you have plans to resubmit to CRAN or want to wait until e.g. version 0.4 to do that. happy to take a look at some issues or do

[2019-10-10 21:11] sckott commented on #98
note to self: looks like PR #102 was closed, ie not merged. look into again later

[2019-10-10 21:12] sckott commented on #143
thanks for the note. Looks like we're all set, no open issues on current milestone https://github.com/ropensci/ckanr/milestone/3

will try to get up today/tomorrow

[2019-10-10 21:27] sharlagelfand commented on #143
ah amazing, thank you!

[2019-10-11 19:25] sckott commented on #143
about ready to send

[2019-10-11 19:25] #143 closed

[2019-10-16 18:31] sckott opened #144 "CKAN for testing"
Try creating a single CKAN image with all parts needed, and put on docker hub, then be able to use that image in circle-ci or travis.

Following steps for installation https://docs.ckan.org/en/2.8/maintaining/installing/install-from-docker-compose.html

docker-compose with multiple images https://github.com/dbca-wa/wastd/blob/master/.circleci/config.yml

[2019-11-01 17:09] sckott opened #146 "make sure any fxns that use as.package get key passed through"
via in part https://github.com/ropensci/ckanr/pull/145

[2019-11-08 06:57] smartgamer opened #147 "How to update extras using package_patch?"
I tried to update extras using package_patch, but it doesn't work. Anybody succeed in updating it? or this function is not included in ckanr?

[2019-11-08 07:00] smartgamer commented on #147
@sckott I saw an issue raised by you when searching this site. Has this problem been solved?

[2019-11-08 18:23] sckott commented on #147
yes, here https://github.com/ropensci/ckanr/issues/94 we discuss extras in `package_patch` - unfortunately, i've never got it to work, so haven't added it to the function because I can't be sure that it's working correclty.

`package_create` does have `extras` parameter though, can you try `extras` in `package_create` on your instance and see if at least that works?

[2019-11-08 19:56] smartgamer commented on #147
package_create will work but it's used to create package instead of update it. I already have a package uploaded and want to update it.

Is there any other way to get around this? or use python?

[2019-11-15 00:57] sckott commented on #147
yes i know you already have a package created, but I want to see if extras works with that function, can you try to create a package and use extras to see if that works?

[2019-11-15 03:24] smartgamer commented on #147
That always works. But I want to update instead of starting from scratch. Thanks

On Nov 14, 2019, at 7:57 PM, Scott Chamberlain <notifications@github.com> wrote:

﻿

yes i know you already have a package created, but I want to see if extras works with that function, can you try to create a package and use extras to see if that works?

—
You are receiving this because you authored the thread.
Repl

[2019-11-15 19:46] sckott opened #148 "markdown docs"

[2019-11-15 19:53] #148 closed

[2019-11-15 19:53] sckott commented on #147
this should be fixed now

[2019-11-15 19:53] #147 closed

[2019-11-15 19:53] #94 closed

[2019-11-15 19:55] sckott commented on #127
as.ckan_package call at top of fxn removed, fixed in 878f47e

[2019-11-15 19:55] #127 closed

[2019-11-15 19:56] #3 closed

[2019-11-23 21:11] nicholsn opened #149 "Support for Arbitrary Key:Value Pairs When Creating Resources"
I have a use case where I would like to attach arbitrary `key:value` pairs to a given resource.

While this is currently possible via `resource_patch`, it is not possible when initially creating a resource, as `resource_create` explicitly specifies each of the permitted parameters.

I've tested that this works via curl, but curious if this would an acceptable feature request for `resource_create`.

[2019-11-26 00:46] sckott commented on #149
thanks for the issue

It is? there is an ellipsis (`...`) for `resource_patch`, but that's for passing in curl options to the HTTP request. Did you mean `package_patch` via `extras`?

Would doing this via `extras` work for you?

[2019-11-26 01:42] nicholsn commented on #149
Hey @sckott, thanks for getting back to me.

Actually, resources support `key:value` pairs w/o the package-level "extras" field that uses a list of:

[code]

At the resource-level in `resource_patch` you can just use the `x` parameter and include whatever `k:v` pairs you'd like and they will be added directly to the resource json object (I just learned this was possible [here](https://stackoverflo

[2019-11-26 22:54] sckott commented on #149
okay, thanks. Is that documented anywhere?

[2019-11-26 23:00] nicholsn commented on #149
not that I've seen. the closest thing is this: https://docs.ckan.org/en/ckan-2.7.3/extensions/adding-custom-fields.html#adding-custom-fields-to-resources

[2019-11-27 18:11] sckott commented on #149
Okay, hmm, im a bit hesitant to include this if it's not documented, but i imagine i've done that with other aspects here before.

Do you know what other CKAN API routes this applies to?

[2019-12-01 15:57] nicholsn commented on #149
I went ahead and pinged the ckan mailing list to ask about [this feature and adding docs](https://groups.google.com/a/ckan.org/forum/#!topic/ckan-dev/3WCSgKjh-I0). We can wait and see what they say.

As far as I can tell, the only CKAN API routes this applies to are `resource_create`, `resource_update`, and `resource_patch`, and in the ckanr code, I think only `resource_create` needs to be updated

[2019-12-02 18:57] sckott commented on #149
thanks for pinging the mailing list. sounds best to wait to see what folks say over there

[2019-12-03 01:33] florianm commented on #149
From the CKAN code base:
* `resource_patch` simply updates the resource's data dict - allows extra fields: https://github.com/ckan/ckan/blob/master/ckan/logic/action/patch.py#L54
* The model for Resource allows `extra_columns`: https://github.com/ckan/ckan/blob/master/ckan/model/resource.py#L58
* The template for `resource_read` (the resource details page) renders any extra fields in the key:value

[2019-12-04 18:41] sckott commented on #149
thanks for the deets @florianm

@nicholsn does florian's info help/change anything?

[2019-12-04 21:25] nicholsn commented on #149
thanks @florianm!

@sckott I think these details confirm that it would be safe to add this functionality to ckanr for the `resource_patch/update/create`. If you agree, I can look into submitting a PR, but just looks like a small change.

[2019-12-05 02:00] sckott commented on #149
okay, a PR would be great - always nice to have more contribs

[2019-12-14 00:32] sckott commented on #149
@nicholsn let me know if your PR resolves this issue

[2019-12-14 00:56] nicholsn commented on #149
Indeed, thanks for merging!

[2019-12-14 00:56] #149 closed

[2019-12-21 18:02] #86 closed

[2020-01-24 20:31] ismailmuller opened #152 "package_search() error when x$title is a list"
I tried this package for the first time but came across an error.
It seems that `x$title` is a list and not supported by the `cat` function used in `ckanr:::as.ckan_package()`.

[code]

<sup>Created on 2020-01-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-25 00:55] sckott commented on #152
thanks very much @ismailmuller - having a look

[2020-01-25 02:14] sckott commented on #152
reinstall `remotes::install_github("ropensci/ckanr")` - should work now, let me know what you think. it's not clear how we would pick from the list of locale specific results in the list - we could query the ckan instance for the default locale, but that's another http request

[2020-01-25 14:05] ismailmuller commented on #152
Thanks a lot @sckott . It does the job now without failing.

[2020-01-25 14:05] #152 closed

[2020-01-28 01:29] LTLA opened #153 "How does one pass in "a list of strings" to resource_search?"
`?resource_search` indicates that it is possible to pass in a list of strings to `q`:

I'm guessing this got copied directly from the CKAN API docs, because actually trying it out via **ckanr** doesn't work well:

[code]

Traceback is:

[code]

By comparison, a direct call to the CKAN API seems happy enough:

[code]

<details>
<summary>Session information</summary>

[code]
</details>

[2020-01-28 03:24] florianm commented on #153
CKAN API docs on [resource_search](https://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.get.resource_search)

[code]

[code]

But for the life of me, I can't get two query parameters to work:
[code]

[code]

<sup>Created on 2020-01-28 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-28 17:24] sckott commented on #153
thanks for the report @LTLA - it is indeed a bug. thx for verifying @florianm

[2020-01-28 17:53] #153 closed

[2020-01-28 17:53] sckott commented on #153
@LTLA reinstall, should work now

[2020-01-28 18:46] LTLA commented on #153
Beautiful, works like a charm.

[2020-02-10 03:25] florianm opened #154 "Get a clear error message if settings are empty"
If ckanr is not set up with valid credentials, it is all too easy to get stuck, typically when libcurl complains about an empty protocol not being supported. The error chain goes like

* CKAN_DEFAUT_URL and friends are empty (silent)
* ckanr::get_default_xxx() returns these empty values (silent)
* crul calls curl with empty url and/or credentials (silent)
* curl calls libcurl (silent)
* libcurl re

[2020-02-12 16:35] sckott commented on #154
totally agree we should fail early and let users know exactly what to do.

a helper fxn at the top of each function to check settings would be good. in ckanr, url is the only required setting, and key is optional

[2020-02-13 02:29] florianm commented on #154
Would you say that testing whether the url is empty might be enough of a smoke test?

Would you feel that the default getters should read from env vars? Example https://github.com/dbca-wa/ruODK/blob/master/R/ru_setup.R#L288
That way, setting the env vars in .Renviron would automatically setup ckanr. Long form https://dbca-wa.github.io/ruODK/articles/setup.html#permanent-defaults-environment-variab

[2020-02-13 16:38] sckott commented on #154
Yeah, if url is empty, or length zero then the fxn should fail and tell the user.

they do already do that https://github.com/ropensci/ckanr/blob/master/R/ckanr_settings.R#L154 but they don't warn when it's missing though i guess

[2020-06-23 14:59] gigi-latrottola opened #156 "Extras non correctly managed in package_create"
Hi,

I might be wrong (documentation is poor) but extras are not managed correctly in package_create.
To see a proper implementation see resource_create

[2020-06-23 19:35] sckott commented on #156
You'll need to give more information than "not correctly managed"

[2020-06-28 15:29] #156 closed

[2020-07-28 23:08] sckott commented on #146
fixed in af40ad6

[2020-07-28 23:08] #146 closed

[2020-07-28 23:11] sckott commented on #98
If anyone wants to finish off or redo the work in https://github.com/ropensci/ckanr/pull/102 go for it,

[2020-10-06 16:49] sckott opened #157 "curl issue"
user reported error message. user did not report what function was called and no session info

[code]

It's either a cert issue on the server CKAN side, or a client side issue with the curl version you have installed.

An example thread here where it was the server's TLS as the problem https://github.com/ropensci/rgbif/issues/415

An example where the client/user needs to change their libcurl vers

[2020-10-14 18:11] florianm commented on #108
Still in my "later" basket, sorry haven't had bandwidth yet.

[2020-10-14 18:32] sckott commented on #108
no worries

[2020-10-31 01:39] sckott commented on #144
This spins up nicely locally https://github.com/okfn/docker-ckan Maybe make the images locally, push up to my docker hub, then pull those for CI testing/checking

[2020-11-18 11:21] hannaboe commented on #109
Would it be possible to add the http_method parameter to functions like `package_update` and `resource_create`?

If I run these functions I get an error:
Error: 400 - Bad Request
  "Bad request - JSON Error: Invalid request. Please use POST method for your request"

If I modify the function and set `http_method = "POST"` within `as.ckan_package` it works fine.

[2020-11-18 15:56] sckott commented on #109
Would you be comfortable sending a pull request with the change? if not i can do

[2020-11-18 17:13] hannaboe commented on #109
Yes, I can do that.

[2020-11-19 14:52] persep opened #159 "I can't get resource_search to sort"
I'm trying to get the resources from this site ordered by the date they were created, new ones first using this code:

[code]
A snipped of the results:
[code]
I've tried using `sort = "created asc"` and `sort = "created desc"` but I always get the same order

<details>
<summary><strong>Session Info and Traceback</strong></summary>

[code]

[2020-11-19 15:55] hannaboe opened #160 "Including option for txt-files in ckan_fetch()"
I was wondering if it would be possible to include an option for loading txt-files into R in `ckan_fetch()`? So far, txt-files can't be downloaded if `store = session`.

I could work on a PR.

[2020-11-19 20:48] sckott opened #161 "Default CKAN url in a bad way"
http://data.techno-science.ca seems to be not responding

http://techno-science.ca redirects to https://ingeniumcanada.org/

https://data.ingeniumcanada.org/ is not a thing, maybe there is a different ckan url for that new site?

@florianm @sharlagelfand any ideas on this? should we switch to a different CKAN instance

[2020-11-19 20:53] sckott opened #162 "update servers function"
those that are not CKAN anymore, or at least appear not to be:

- https://data.gov.uk/
- http://data.london.gov.uk - appears to be using https://datapress.com/
- http://publicdata.eu/ - is gone
- http://data.surrey.ca/ - appears to be down

[2020-11-19 21:12] sharlagelfand commented on #161
oh no! i didn't see the original instance but it looks like maybe Ingenium has switched (?) to having all of their open data available as a single, downloadable data set (https://ingeniumcanada.org/collection-research/open-data links to https://ingeniumcanada.org/collection-research/artifact-open-data-set-mash-up, which just has links to download a giant .xml or .csv)

Biased option from me for a

[2020-11-19 21:28] sckott commented on #161
Thanks @sharlagelfand !

Ontario sounds good, will try that

[2020-11-19 21:46] florianm commented on #161
I don't have a public instance available for testing unfortunately. Can rOpenSci host one in a VM?

[2020-11-19 22:03] sckott commented on #161
I have a t3 micro reserved instance on Amazon that I can't sell back to them, so I could use that until jan 2022, but maybe that's too small an instance to run ckan. what's the minimum setup for running via docker vs. installing via the package route

[2020-11-19 22:14] sckott commented on #159
Thanks for the issue. I'm having trouble using that ckan instance. Seems to be having an SSL certificate issue.

Trying with a different CKAN instance i also can't get sorting to work.

@florianm any ideas on sort?

[2020-11-19 22:14] sckott commented on #162
probably should freshen up urls behind `servers` fxn too

[2020-11-19 22:15] sckott commented on #160
Thanks @hannaboe

@sharlagelfand can you advise here?

[2020-11-20 02:14] florianm commented on #162
data.gov.uk seems highly customised, maybe to the point where it's not a good example of "vanilla CKAN" any longer.
There seems to be a CKAN in there: https://github.com/alphagov/docker-ckan and their own CKAN extension https://github.com/alphagov/ckanext-datagovuk/.

Would it be an option for rOpenSci to run their own CKAN (e.g. using docker-compose) in a dedicated VM?

[2020-11-20 02:29] florianm commented on #161
There's nothing re minimum hardware requirements in the official docs, but the Wiki suggests: https://github.com/ckan/ckan/wiki/Hardware-Requirements
Seems a t3.small to medium might be required, but maybe it's worth to try a package install on the t3.micro?
A second option could be a CKAN install inside GitHub Actions.

[2020-11-20 02:47] sckott commented on #161
yeah, i don't think i want to pay for anything bigger than the micro.

i'd love to be able to spin up ckan on GH actions, any example workflows doing that?

[2020-11-20 03:07] florianm commented on #161
Nothing on GHA marketplace, nothing in CKAN's own [actions](https://github.com/ckan/ckan/actions) so basically one would need to translate the [docs](https://docs.ckan.org/en/2.9/maintaining/installing/install-from-package.html) into a GHA script. Handy to add a [debug action](https://github.com/marketplace/actions/debugging-with-tmate) to bite your way through the setup.

[2020-11-20 03:32] florianm commented on #159
Refreshing my memory:
[resource_search API docs](https://docs.ckan.org/en/2.9/api/index.html#ckan.logic.action.get.resource_search)

What happens to the `sort` arg in [resource_search](https://github.com/ropensci/ckanr/blob/master/R/resource_search.R#L26)? I can't see where that is handed to [ckan_VERB](https://github.com/ropensci/ckanr/blob/master/R/zzz.R#L24).
Out of interest, what does `ckan_VE

[2020-11-20 15:58] sckott commented on #162
Thanks for the dive into that source - chatting about running ckan in another issue

[2020-11-20 16:00] sckott commented on #159
sort goes into args internally and passed as query parameters

[2020-11-20 16:23] sckott commented on #144
Notes:

- on branch `ckan-on-gh-actions` working on this
- maybe use this https://github.com/peter-evans/docker-compose-actions-workflow
- caching docker images https://github.com/marketplace/actions/docker-layer-caching
- help on docker on gh actions https://github.community/t/how-to-use-docker-compose-with-github-actions/16850
- repo im using https://github.com/okfn/docker-ckan

[2020-11-20 22:43] sharlagelfand commented on #160
my initial thoughts are that `txt` files aren't straightforward flat files in the way things like CSVs or excel files are (even though those can be pretty questionable too!). I have seen some cases where they contain actual data, but on the Toronto portal I'd say most txt files are READMEs describing the data, not actual data themselves, so they tend to have some funky formatting

looking at a cou

[2020-11-23 02:41] florianm commented on #144
Nice work! There's a GH action to add a live SSH terminal. That would be ideal to debug where CKAN might be running. Maybe GHA has some firewall settings to hide the open ports?

[2020-11-23 15:42] hannaboe commented on #160
This sounds good to me.

[2020-11-24 02:25] sckott commented on #160
Sounds good to me @sharlagelfand

[2020-12-03 20:48] #160 closed

[2021-01-19 16:57] AleKoure opened #168 "groups in package_create"
Hello, and thank you for the pretty useful package.

Trying to create a package and add it to a group. However, I can't find an example.

This works,
[code]

This throws an error,

[code]
<details>
<summary><strong>Session Info and Traceback</strong></summary>

traceback()

[code]

Session info

[code]
</details>

[2021-01-19 20:15] sckott commented on #168
Thanks for the issue @AleKoure

I tried your examples with the demo ckan server https://demo.ckan.org/ but could not replicate the exact problem.

I do get an error but it's different:

[code]

The group not found error doesn't make a lot of sense since I know I just created the group and it exists

I do get that integrity error though if I try to add a package to a group creation

[code]

I'll lo

[2021-01-30 18:55] nn-at opened #169 "ckan_info() not working with open.canada.ca"
Thank you for adding the Canadian Federal catalogue, https://open.canada.ca/en, to ckanr servers() #167

Unfortunately when I try ckan_info() with either URL listed in servers() (https://open.canada.ca/data and https://open.canada.ca/ckan) as well as other permutations I tested, I receive an error message:

**"Error in xx[[2]] : subscript out of bounds"**

However, I was able to receive a correct

[2021-02-01 14:27] AleKoure commented on #168
Hello,

It looks like the parser does not convert the list of groups to JSON in a compatible form with CKAN. Groups need square brackets.

curl $URL/api/3/action/package_create \
-d '{"name": "foo3", "groups": [{"name": "mf_group_1"}], "owner_org": "whatever"}' \
-H "Authorization: XXXXX"

You can bypass this by declaring groups in a data.frame so the JSON conversion is a list/array.

[code]

Didn

[2021-02-01 18:01] AleKoure commented on #168
Tested the case and seems that works ok for the latest CKAN installation 2.9 with docker-compose. So for my use case groups work fine using data.frame instead of list.  Also checked your example and works fine now with the following modification.

[code]
 So it looks like the JSON parsing should be aware of which lists from R should be converted to objects and which to list/array in JSON format.

[2021-02-01 22:09] sckott commented on #169
This is due to weird response headers returned  - It's an issue in the http client `crul` - it's fixed in a dev version of `crul` https://github.com/ropensci/crul/issues/150 - install   it like `remotes::install_github("ropensci/crul")`

[2021-02-01 22:09] #169 closed

[2021-02-02 15:23] AleKoure commented on #168
It looks ok if a data.frame is used instead of a list. Maybe an update in documentation or an example would be helpful.

[2021-02-02 15:59] sckott commented on #168
Thanks for figuring that out @AleKoure

I'll add a note to the documentation about this

[2021-02-02 16:14] #157 closed

[2021-02-02 16:15] sckott opened #171 "Rbuildignore vignettes and readme,md"
to avoid #wrathofcran

[2021-02-02 16:17] #171 closed

[2021-02-02 16:35] #168 closed

[2021-02-02 16:50] sckott commented on #159
@persep

I can now replicate the problem

[code]

And the lack of sorting happens in other CKAN instances. So I assume that sorting simply does not work in CKAN, at least against the `resource_search` route

I'd suggest doing the sorting yourself once you have the data,. e.g.,

[code]

[2021-02-02 16:50] #159 closed

[2021-02-03 02:07] #162 closed

[2021-02-03 18:11] #161 closed

[2021-02-06 19:13] nn-at opened #174 "Mexico and datamx.io open data in servers.R"
http://datamx.io/ does not appear to exist any more, it may have been replaced by the Government of Mexico's current open data catalogue https://datos.gob.mx/desarrolladores

Is the latter using a version compatible with ckanr and could be added?

[2021-02-08 17:24] sckott commented on #174
That 2nd url gives me `Access Denied`

[2021-02-08 17:51] nn-at commented on #174
works for me in browser, and they have an entire section on CKAN and another on their CKAN API, although it's all in Spanish and Google Translate isn't working for me atm so I'm kind of guessing at what they are saying.

[2021-02-09 17:24] sckott commented on #174
Ok, but I still can't access it, which means other people will likely have trouble accessing it, so I'd rather not include it

[2021-02-12 11:54] #174 closed

[2021-06-13 05:54] anuveyatsu opened #178 "Generic action support"
This client supports only predefined set of actions from CKAN API. However, CKAN extensions may add new API actions which is not supported by this R client. Below is an example JS client and how generic action support is done:

[code]

Read more: https://github.com/okfn/ckan.js/#catalog

I never used R so please let me know if this doesn't make sense here.

[2021-06-16 20:52] sckott commented on #178
Thanks for the issue @anuveyatsu

Yes, I think we can do that. I think it would make sense to return JSON in this case then, as there'd be no way to ahead of time know how to parse the results to an R object

[2021-06-16 21:26] sckott commented on #178
@anuveyatsu you can try again after reinstalling like `remotes::install_github("ropensci/ckanr@generic-action")`

work on branch https://github.com/ropensci/ckanr/tree/generic-action

[2021-06-25 11:36] FaustFrankenstein opened #179 "dplyr 0.8.3 Error: object ‘across’ is not exported by 'namespace:dplyr'"
<details>
<summary><strong>Session Info and Traceback</strong></summary>

[code]

</details>

[2021-06-25 13:39] #179 closed

[2021-09-15 21:23] sharlagelfand opened #180 "Issue parsing some CSVs via read.csv()"
As reported in https://github.com/sharlagelfand/opendatatoronto/issues/11 - there seems to be an issue with reading some CSVs (maybe they're malformed? I haven't looked at the underlying data set quite yet) in `read.csv()` that something like `readr::read_csv()` manages just fine.

I'm not sure we want to switch [`read_session()`](https://github.com/ropensci/ckanr/blob/master/R/ckan_fetch.R) over

[2021-10-20 18:15] sharlagelfand commented on #108
This has come up again in the [context of updating resources](https://discuss.ropensci.org/t/updating-resources-with-ckanr/2631), where everything that _isn't_ specified is deleted. In that function, the documentation explicitly states `Other metadata, such as name or description, are not updated.` - definitely not the case!

@florianm, do you expect you'd have bandwidth for updating the docs on t

[2021-11-05 14:48] sharlagelfand opened #182 "Switch demo code to beta.ckan.org"
Registration to https://demo.ckan.org/ has been disabled (https://github.com/ropensci/ckanr/pull/181#issuecomment-961954093), which makes it difficult / impossible to set things up and test on there! But https://beta.ckan.org/ has open registration, so we can create accounts and get API keys from there and then test on that instance instead.

This issue is to track switching over existing demo cod

[2022-05-11 13:05] Gatsen opened #183 "Get details to all packages of one organization"
Hello everyone,

Thanks a lot for the amazing package!

I have a short question regarding the organization_show() function.
Is there a way to get all of the packages of one organization with that function? If I switch include_datasets to True, I just get back the details of the first 10 packages.

I tried the following, but it is not working:
`
organization_show(id=id_long, include_datasets = T,li

[2022-06-14 01:25] florianm opened #184 "Changes to API authentication: support both new API Token and legacy API key"
CKAN is slowly moving away from the legacy API key as means of authentication and moving towards an API token. The official docs on this are at http://docs.ckan.org/en/latest/api/index.html#authentication-and-api-tokens.

## Spec change

The breaking change will likely affect CKAN installations not before v2.10.

## ckanr changes
* A test server running CKAN 2.9+ to offer API Token auth
* [ckanr_s

[2022-09-09 08:05] maelle opened #185 "Add Sharla to DESCRIPTION"
:wave: @sharlagelfand could you please add yourself as maintainer to DESCRIPTION? Thank you!

[2022-10-06 12:42] maelle opened #186 "New Maintainer Wanted :-)"
Or new maintainer team. :smile_cat:

If you're interested, please comment in the issue.
For more info, see
- [our guidance on Changing package maintainers](https://devguide.ropensci.org/changing-maintainers.html);
- [our Package Curation Policy](https://devguide.ropensci.org/curationpolicy.html).

[2022-10-07 15:46] fjuniorr commented on #186
Hi @maelle!

I would love to help resolve some of the outstanding issues as a "trial period" to see if I'm able to actually take over the package maintenance. Is that a thing?

[2022-10-10 06:04] maelle commented on #186
:wave: @fjuniorr! Yes let's make it a thing, that's a good idea. You can make PRs that I'd review if you want?

[2022-10-13 06:35] maelle commented on #186
Feel free to ask any question!

[2022-10-21 13:51] fjuniorr opened #187 "CKANConnection uses an old dbplyr interface"
Here is the message:

[code]

[According to Hadley](https://github.com/duckdb/duckdb/issues/3703) this should be a simple fix and the details are available at [dbplyr 2.0.0 backend API • dbplyr](https://dbplyr.tidyverse.org/articles/backend-2.html).

<sup>Created on 2022-10-21 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

<details>
<summary><strong>Session Info and Traceback</strong></

[2022-10-21 14:00] fjuniorr opened #188 "Translator is missing window variants of aggregate functions"
Here is the message when we connect to a CKAN site with DataStore enabled and perform a query with a `dplyr::collect` call at the end:

[code]

<sup>Created on 2022-10-21 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

<details>
<summary><strong>Session Info and Traceback</strong></summary>

[code]
</details>

[2022-11-01 01:24] fjuniorr opened #189 "Removal of revisions endpoints in CKAN 2.9"
It looks like the endpoints [`revision_list`](https://docs.ckan.org/en/2.8/api/index.html#ckan.logic.action.get.revision_list) and [`package_revision_list`](https://docs.ckan.org/en/2.8/api/index.html#ckan.logic.action.get.package_revision_list) were removed in CKAN 2.9 (see the [Changelog](https://github.com/ckan/ckan/blob/master/CHANGELOG.rst#removals-and-deprecations)):

[code]

<sup>Created on

[2022-11-18 04:19] fjuniorr commented on #186
Hi @maelle! I don't think I have permission to add you as reviewer in the PR but I just sent over #190.

Before making changes I want to make sure that the testing infrastructure works both locally and in Github Actions without dependencies on external CKAN sites.